---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
---

<MainLayout title="Titel">
  <article class="">
    <section class="bg-gron-200">
      <h1 class="h1_mobil text-blaa-600">events og catering</h1>
      <p class="pstor_mobil text-blaa-900">
        Vi laver økologisk is til events – live med flydende nitrogen for både
        show og smag. Vælg mellem klassiske eller alkoholiske varianter med
        hjemmelavede toppings. Vi skaber en unik oplevelse, uanset typen af
        event.
      </p>
    </section>
  </article>
</MainLayout>
