---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import scooper from "../assets/images/scooper.webp";
---

<MainLayout title="Titel">
  <article class="">
    <section class="bg-blaa-50 p-M">
      <h3 class="h3 text-rod-500">Velkommen til istid</h3>
      <h1 class="h1 text-blaa-600">Is på en helt ny måde</h1>
      <p class="pstor text-blaa-600">
        Håndlavet økologisk nitrogen is til hverdag og events
      </p>
    </section>
    <section class="text-center p-M">
      <h2 class="h2 text-rod-500">Økologisk nitrogen is</h2>
      <p class="pstor text-blaa-900">
        Økologisk nitrogen-is fra hjertet af Nørrebro – friskfrosset på stedet
        for en cremet, intens smagsoplevelse. Vi laver også catering i hele
        Danmark!
      </p>
    </section>
    <section class="grid grid-cols-2 bg-gul-300">
      <div>
        <Image
          src={scooper}
          alt="Billede af en person der scooper is."
          class="h-50%"
          loading="lazy"
        />
      </div>
      <div class="p-M">
        <h2 class="h2 text-gron-800 pb-XS">NITROGEN IS MERE END GOD SMAG</h2>
        <p class="pstor text-gron-800">
          Hos ISTID bruger vi flydende nitrogen til at fryse isen – det sker ved
          minus 196 grader og direkte foran dig! Når isen lynfryses på denne
          måde, bevares smagene bedre, og strukturen bliver ekstra cremet.
        </p>
      </div>
    </section>
    <section class="bg-rod-100 grid grid-cols-2">
      <div>
        <h2 class="h2 text-blaa-600">EVENTS OG CATERING</h2>
        <p class="pstor text-rod-500">
          Gør dit event til en uforglemmelig oplevelseBook vores nitrogen-is
          catering i dag
        </p>
      </div>
      <div></div>
    </section>
  </article>
</MainLayout>
