---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
---

<MainLayout title="KONTAKT" page="kontakt">
  <article class="bg-blaa-100 p-M md:p-L">
    <h1 class="h1_mobil md:h1 text-blaa-600 pb-L md:pb-XL text-center">
      Kontakt os
    </h1>

    <section class="py-S">
      <div class="grid grid-cols-2 md:grid-cols-3 gap-M">
        <div class="gap-10">
          <h2 class="h3_mobil md:h3 text-gron-800 font-bold pb-XS">Adresse</h2>
          <p class="pstor_mobil md:text-pstor_desk pb-XXXS md:pb-XXS">
            Nørrebro
          </p>
          <p class="pstor_mobil md:text-pstor_desk pb-XXXS md:pb-XXS">
            Jægersborgsgade 13
          </p>
          <p class="pstor_mobil md:text-pstor_desk pb-XXXS md:pb-XXS">
            2200 Nørrebro
          </p>
          <p class="pstor_mobil md:text-pstor_desk">København</p>
        </div>

        <div class="gap-10">
          <h2 class="h3_mobil md:h3 text-gron-800 font-bold pb-XS">Kontakt</h2>
          <p class="pstor_mobil md:text-pstor_desk">Telefon:</p>
          <p class="pstor_mobil md:text-pstor_desk pb-XXXS md:pb-XXS">
            +45 61311834
          </p>
          <p class="pstor_mobil md:text-pstor_desk">Email:</p>
          <p class="pstor_mobil md:text-pstor_desk">Info@istid.dk</p>
        </div>

        <div class="gap-10">
          <h2 class="h3_mobil md:h3 text-gron-800 font-bold pb-XS">
            Åbningstider
          </h2>
          <p class="pstor_mobil md:text-pstor_desk pb-XXXS md:pb-XXS">
            Marts - April: 12-18
          </p>
          <p class="pstor_mobil md:text-pstor_desk pb-XXXS md:pb-XXS">
            Maj - August: 12-21
          </p>
          <p class="pstor_mobil md:text-pstor_desk pb-XXXS md:pb-XXS">
            September: 12-19
          </p>
          <p class="pstor_mobil md:text-pstor_desk pb-XXXS">
            Lukket fra <br />D. 25. September
          </p>
        </div>
      </div>

      <div class="md:grid grid-cols-2">
        <div class="gap-10 py-M md:py-L">
          <h2 class="h3_mobil md:h3 text-gron-800 font-bold pb-XS">
            Find os her
          </h2>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17991.80346575429!2d12.541827439364434!3d55.68941486799795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465253ad947c30f1%3A0xd1ef3229d55a79d5!2sIstid!5e0!3m2!1sda!2sdk!4v1746435120075!5m2!1sda!2sdk"
            class="w-full h-[250px] md:w-[600px] md:h-[400px]"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div>
          <svg
            class="mt-L ml-L w-[500px] h-[500px] hidden md:block"
            width="346"
            height="265"
            viewBox="0 0 346 265"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M244.453 122.021C242.336 155.969 240.22 189.909 238.104 223.857"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M140.401 230.291C141.511 194.201 142.622 158.111 143.726 122.021"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M143.726 122.021C140.414 118.676 137.102 115.332 133.789 111.987H219.419C227.759 115.332 227.247 115.427 235.587 118.772"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M133.796 111.987C132.751 143.976 131.706 175.971 130.661 207.96C133.907 215.406 137.154 222.845 140.407 230.29C148.097 229.884 149.083 229.674 156.766 229.267"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M241.909 162.823C252.589 162.569 263.269 162.308 273.949 162.054C273.883 163.529 273.824 164.998 273.758 166.473C262.612 173.696 251.472 180.925 240.325 188.148"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M273.949 162.054C263.637 157.336 253.325 152.611 243.007 147.894"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M238.097 223.85C249.382 223.316 260.66 222.776 271.938 222.242C261.284 213.543 250.624 204.845 239.97 196.141"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M195.358 263.755C177.746 263.755 163.469 249.943 163.469 232.904C163.469 215.866 177.746 202.054 195.358 202.054C212.97 202.054 227.247 215.866 227.247 232.904C227.247 249.943 212.97 263.755 195.358 263.755Z"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M195.358 237.889C192.512 237.889 190.205 235.657 190.205 232.904C190.205 230.151 192.512 227.919 195.358 227.919C198.204 227.919 200.511 230.151 200.511 232.904C200.511 235.657 198.204 237.889 195.358 237.889Z"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M212.163 207.07C205.624 214.306 199.084 221.548 192.545 228.784"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M217.526 210.618C211.453 216.671 205.387 222.724 199.314 228.784"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M221.824 214.98C214.575 221.58 207.333 228.18 200.083 234.78"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M192.177 202.67C191.52 212.265 190.863 221.853 190.205 231.448"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M198.67 202.347C197.645 210.721 196.62 219.101 195.595 227.475"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M204.822 203.287C203.205 212.786 201.7 221.726 200.083 231.226"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M175.523 209.003C180.465 217.345 185.401 225.687 190.343 234.029"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M180.741 205.259C184.678 212.787 188.615 220.309 192.552 227.837"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M186.407 202.747C190.494 211.528 194.582 220.309 198.664 229.083"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M212.157 258.942C205.617 251.706 199.078 244.464 192.538 237.229"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M217.52 255.387C211.447 249.334 205.381 243.281 199.308 237.222"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M221.818 251.025C214.569 244.425 207.326 237.826 200.077 231.226"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M192.17 263.335C191.513 253.741 190.856 244.152 190.199 234.558"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M198.657 263.666C197.632 255.292 196.607 246.912 195.581 238.538"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M204.809 262.725C203.192 253.225 201.707 244.285 200.083 234.786"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M175.516 257.002C180.459 248.66 185.394 240.318 190.337 231.976"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M180.735 260.753C184.672 253.225 188.608 245.703 192.545 238.175"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M186.4 263.259C190.488 254.478 194.576 245.697 198.657 236.923"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M165.954 222.312C174.649 226.966 182.7 231.569 191.395 236.224"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M168.412 216.487C175.812 220.951 183.206 225.408 190.606 229.872"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M171.908 211.503C180.104 216.965 188.306 222.42 196.501 227.882"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M165.73 242.137C175.562 240.732 185.394 239.333 195.22 237.928"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M164.035 236.071C172.717 235.27 181.392 234.475 190.074 233.674"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M163.686 230.05C173.63 229.573 182.601 229.255 192.545 228.778"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M175.648 256.545C183.035 250.11 190.416 243.682 197.803 237.247"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M170.758 252.406C177.528 247.096 184.303 241.781 191.073 236.472"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M167.025 247.58C175.03 241.863 183.042 236.141 191.047 230.425"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M224.973 221.04C216.277 225.694 208.779 230.126 200.09 234.78"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M226.635 241.125C216.803 239.72 208.016 238.468 198.184 237.062"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M226.898 234.798C218.216 233.997 209.541 233.203 200.859 232.401"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M227.247 228.784C217.303 228.307 207.366 227.83 197.422 227.359"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M223.901 246.308C215.896 240.592 207.885 234.869 199.88 229.153"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M160.854 234.87C160.702 236.027 159.776 236.873 158.737 236.917C157.561 236.968 156.838 235.944 156.805 235.893C156.766 235.06 156.733 233.871 156.805 232.453C157.226 223.863 160.735 217.607 162.477 214.574C164.915 210.326 169.076 203.097 178.112 198.049C180.518 196.707 188.49 192.396 199.314 193.21C210.178 194.024 221.706 199.829 226.629 209.01C228.877 213.194 229.915 218.389 230.059 219.165C230.901 223.501 230.868 227.227 230.658 229.878C230.559 230.896 230.336 231.182 230.125 231.233C230.125 231.233 229.928 231.284 228.857 230.432C228.883 228.836 228.824 226.559 228.456 223.863C227.983 220.411 227.352 215.807 224.519 210.905C221.016 204.846 216.021 201.571 213.865 200.318C207.628 196.681 201.799 196.294 198.657 196.122C195.759 195.963 189.016 195.671 181.55 199.218C175.628 202.035 172.217 205.888 169.937 208.514C168.024 210.721 164.133 215.305 162.056 222.49C160.571 227.621 160.604 232.053 160.84 234.876L160.854 234.87Z"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M5.09121 225.116C4.94005 226.273 4.01338 227.119 2.97496 227.163C1.79853 227.214 1.07562 226.19 1.04276 226.139C1.00333 225.306 0.970466 224.117 1.04276 222.7C1.46338 214.109 4.97289 207.853 6.71454 204.82C9.15285 200.573 13.3131 193.343 22.35 188.295C24.7554 186.953 32.7276 182.642 43.5521 183.456C54.416 184.27 65.9438 190.075 70.8664 199.256C73.1141 203.44 74.0999 208.648 74.2971 209.411C75.4407 213.722 74.4679 218.567 73.0418 217.746C71.6221 216.933 73.068 216.799 72.7 214.103C72.2268 210.651 71.5959 206.047 68.7632 201.145C65.2602 195.085 60.2653 191.811 58.1096 190.558C51.8725 186.921 46.0429 186.533 42.9014 186.362C40.003 186.203 33.2599 185.91 25.7938 189.458C19.8722 192.275 16.4613 196.128 14.1807 198.754C12.2682 200.96 8.3774 205.545 6.30056 212.73C4.81523 217.861 4.84803 222.293 5.08463 225.116H5.09121Z"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M238.097 223.851C235.823 224.029 233.549 224.213 231.275 224.391"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M161.025 229.114C161.971 229.051 162.917 228.993 163.864 228.93"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M40.1345 250.987C22.5229 250.987 8.24589 237.175 8.24589 220.137C8.24589 203.098 22.5229 189.286 40.1345 189.286C57.7461 189.286 72.0231 203.098 72.0231 220.137C72.0231 237.175 57.7461 250.987 40.1345 250.987Z"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M40.1344 215.158C37.2886 215.158 34.9817 217.39 34.9817 220.143C34.9817 222.896 37.5713 224.95 40.1344 225.128C42.8685 225.312 45.4645 223.424 46.0823 220.645"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M62.3093 197.851C56.2366 203.904 50.1703 209.957 44.0976 216.016"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M66.6074 202.213C59.3582 208.813 56.8346 211.057 49.5919 217.657"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M36.9535 189.909C36.2963 199.504 35.639 209.092 34.9818 218.687"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M43.4469 189.579C42.4216 197.953 41.3964 206.333 40.3711 214.707"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M49.5985 190.52C47.9817 200.019 49.1976 194.22 47.5809 203.719"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M20.306 196.242C25.2483 204.584 30.1841 212.926 35.1265 221.269"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M25.5244 192.491C29.4612 200.019 33.3979 207.541 37.3347 215.07"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M31.183 189.985C35.271 198.766 36.4211 204.749 40.509 213.53"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M56.9331 246.175C50.3937 238.939 43.8543 231.697 37.3149 224.461"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M62.2961 242.627C56.2234 236.574 50.1572 230.52 44.0845 224.461"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M66.5944 238.265C59.3452 231.665 53.7982 227.513 46.5556 220.913"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M36.9469 250.568C36.2897 240.973 35.6324 231.385 34.9752 221.79"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M43.4403 250.899C42.415 242.525 41.3898 234.144 40.3645 225.771"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M49.592 249.958C47.9753 240.459 46.4899 231.519 44.8665 222.02"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M20.2928 244.234C25.2352 235.892 30.1709 227.55 35.1133 219.208"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M25.5112 247.986C29.448 240.457 33.3848 232.935 37.3215 225.407"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M31.1766 250.491C35.2645 241.711 39.3525 232.93 43.4338 224.155"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M10.7302 209.544C19.4253 214.198 27.4763 218.802 36.1714 223.456"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M13.1883 203.72C20.5887 208.183 27.9825 212.64 35.3828 217.104"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M16.6847 198.735C24.8803 204.197 32.1689 209.246 40.3645 214.707"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M10.5132 229.375C20.3453 227.97 30.1774 226.571 40.0029 225.166"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M8.81107 223.303C17.493 222.502 26.1684 221.707 34.8503 220.906"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M8.46274 217.288C18.4066 216.811 27.3777 216.493 37.3215 216.017"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M20.4243 243.784C27.8115 237.349 35.1921 230.921 42.5793 224.486"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M15.5345 239.638C22.3039 234.329 29.0799 229.013 35.8494 223.704"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M11.808 234.812C19.813 229.096 27.8246 223.373 35.8296 217.657"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M69.7556 208.272C61.0605 212.927 61.8887 212.793 53.1936 217.448"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M71.4119 228.365C61.5798 226.96 52.7926 225.707 42.9606 224.302"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M72.0231 216.016C62.0793 215.539 54.0347 214.802 44.0975 214.331"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M68.6777 233.547C60.6727 227.831 57.9913 226.629 49.9863 220.913"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M228.568 224.606C227.694 224.651 226.826 224.695 225.952 224.74"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M135.268 218.528C133.237 219.177 129.905 219.934 125.994 219.317C123.319 218.897 121.42 217.994 120.283 217.447C111.023 212.971 106.396 210.733 102.315 207.999C93.2645 201.933 85.9365 197.018 80.3829 187.76C78.385 184.429 77.1559 181.447 76.4198 179.38C73.5018 171.388 70.5837 163.389 67.6656 155.396"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M116.497 219.545C116.373 219.494 116.182 219.405 115.945 219.304C115.945 219.304 112.488 217.778 109.13 215.927C106.56 214.509 101.204 211.158 93.7377 205.226C91.1285 203.153 87.6978 200.318 83.7873 196.757C85.3975 202.81 87.6781 209.238 90.8854 215.838C91.398 216.894 91.9238 217.924 92.4496 218.935C100.468 219.138 108.486 219.342 116.504 219.545"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M138.206 225.256C131.219 225.733 123.983 226.019 116.504 226.076C114.684 226.089 112.114 226.102 110.326 226.089"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M88.572 218.153C83.8466 207.922 80.567 199.459 78.4507 193.616C75.9861 186.819 74.652 182.355 70.7152 171.387C68.4017 164.94 66.4367 159.701 65.1419 156.312"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M88.0791 217.74C72.8578 217.74 57.1369 217.676 41.9156 217.676C51.6754 202.696 49.4409 206.555 59.2007 191.575"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M56.6506 189.356C46.0167 205.545 48.6455 202.715 38.0182 218.904C38.6557 219.342 39.2867 219.781 39.9242 220.22C55.8093 221.097 71.701 221.975 87.5862 222.852"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M92.0619 224.912C91.7333 225.064 90.7869 225.446 89.6433 225.185C89.249 225.096 88.4406 224.912 87.9543 224.206C87.4153 223.43 87.5008 222.356 87.9543 221.65C88.7758 220.372 90.7475 220.416 91.7267 220.442C93.1923 220.474 94.3228 220.957 94.934 221.268C97.5826 221.599 100.363 221.879 103.261 222.082C104.97 222.203 106.639 222.292 108.269 222.356"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M91.5097 224.925C92.1275 225.179 93.0411 225.618 93.9152 225.669C98.0754 225.809 102.242 225.942 106.402 226.082"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M104.727 230.024C106.08 227.131 107.428 224.232 108.782 221.339C109.656 221.752 110.523 222.165 111.397 222.579L107.139 232.008C106.146 231.563 105.154 231.112 104.161 230.667C104.352 230.45 104.536 230.234 104.727 230.024Z"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M56.2037 156.668C58.2805 157.908 60.3836 157.812 61.2643 157.774C61.5995 157.761 65.4837 157.526 68.2441 154.773C69.2825 153.736 69.3022 153.202 70.5312 152.325C71.6485 151.524 72.746 151.174 74.3694 150.665C77.0114 149.839 77.8461 149.991 78.4902 149.127C79.0291 148.408 79.2131 147.302 78.7334 146.52C78.0893 145.477 76.5185 145.458 75.9599 145.452C74.9281 145.439 74.159 145.75 73.9159 145.846C71.6024 146.761 69.2036 147.111 66.2 147.543C63.4594 147.938 63.7223 147.404 60.607 147.702C56.9266 148.058 53.3841 148.402 52.5626 150.386C51.7411 152.369 53.9231 155.307 56.1971 156.668H56.2037Z"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M238.774 35.4521C236.592 96.8991 234.489 159.077 232.314 220.524C232.077 221.268 232.281 221.974 232.715 222.196C233.286 222.495 234.161 221.891 234.496 221.249C234.667 220.918 234.693 220.601 234.686 220.403C236.684 158.995 238.689 97.5858 240.687 36.177"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M239.004 87.9343C241.988 89.0025 245.327 90.1597 246.924 90.6811C255.35 93.4152 255.126 92.8366 257.788 94.1401C260.811 95.6215 262.066 96.8423 263.565 96.2701C264.143 96.0476 264.491 95.6597 266.319 92.2771C268.323 88.5511 268.777 87.4002 270.17 86.8216C270.315 86.7644 271.872 86.1413 272.917 86.8216C273.732 87.3494 273.417 88.1314 274.153 89.7464C275.06 91.7366 275.999 91.5649 276.768 93.4724C277.38 94.9984 276.926 95.4753 277.597 96.41C278.458 97.6181 280.002 97.936 281.034 98.1267C287.514 99.3412 289.834 99.1886 289.834 99.1886C293.212 98.9724 303.636 98.5909 313.074 100.384C316.931 101.115 320.724 102.228 322.426 100.384C323.3 99.4365 323.418 97.9423 323.523 96.6579C323.767 93.6759 322.597 92.4805 323.537 90.5349C323.885 89.8164 324.66 88.7164 325.449 88.8054C326.087 88.8754 326.468 89.6892 326.547 89.8672C326.948 90.7765 326.665 91.6984 326.547 92.1308C325.916 94.388 325.666 97.8978 326.79 98.5146C327.224 98.7562 327.927 98.5909 328.196 98.2475C328.499 97.8597 328.117 97.4273 328.196 96.9186C328.4 95.6279 331.252 95.7932 333.835 93.9366C334.361 93.5614 335.491 92.6522 336.313 91.1961C337.608 88.8817 336.629 87.8135 337.687 86.491C339.218 84.5771 341.86 86.065 343.74 84.1447C345.429 82.4153 344.982 79.465 344.837 78.5558C344.515 76.4702 343.766 76.6801 342.636 73.1003C341.926 70.8495 341.571 69.724 341.676 68.3125C341.768 67.0535 342.103 66.3668 341.676 65.5212C341.052 64.2686 339.376 63.8998 338.922 63.7917C334.039 62.6091 330.299 58.7559 325.857 56.4733C321.197 54.0762 316.885 51.2404 308.256 45.5624C294.244 36.3428 285.234 29.0689 279.102 26.8053C278.32 26.5192 276.532 25.9215 274.429 24.5417C271.885 22.8758 271.3 21.655 269.204 20.1481C266.93 18.514 264.794 17.9227 262.743 17.3568C255.317 15.3031 250.657 17.7828 243.487 17.3568C239.872 17.1406 239.596 16.4221 229.323 12.836C203.56 3.83262 202.41 7.34242 191.507 2.72627C189.936 2.05865 185.71 0.189297 181.057 1.39738C178.822 1.97599 177.389 3.03147 176.653 3.52742C166.88 10.1401 150.108 6.48405 144.883 12.4418C143.529 13.9805 142.957 15.7672 142.957 15.7672C142.188 18.1516 142.662 20.2498 142.957 21.4897C144.876 29.5584 145.836 33.5896 147.906 37.589C149.372 40.4185 155.149 51.5646 160.006 50.897C160.781 50.7889 162.424 50.2612 162.891 50.897C163.312 51.4629 162.346 52.3594 162.615 53.4276C162.937 54.712 164.81 55.2779 165.638 55.5577C167.873 56.308 164.797 55.7357 173.755 60.212C177.757 62.2149 180.991 63.6391 186.821 66.2015C194.122 69.4061 195.082 69.6859 196.449 71.2564C197.501 72.4645 198.434 74.0223 200.576 74.8489C201.227 75.1032 203.455 75.8471 205.249 74.8489C205.979 74.4419 205.939 74.1431 207.175 72.7188C208.818 70.8368 210.1 69.3616 211.716 69.3934C211.789 69.3934 213.064 69.4379 213.78 70.3217C214.345 71.0212 214.24 71.8541 213.642 75.3766C213.162 78.1934 213.05 78.7084 213.366 79.3696C214.003 80.7049 215.673 81.1436 216.941 81.4997C225.511 83.8777 221.463 83.7505 231.38 86.0205C232.761 86.3384 234.699 86.7644 237.039 87.2349"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M274.987 24.9036C274.048 26.1562 272.24 29.0174 270.564 31.6752C267.147 37.0989 266.693 39.1272 264.393 40.4497C262.014 41.8168 259.549 41.3463 254.837 40.4497C246.852 38.9301 245.333 36.3613 237.177 34.9498C234.351 34.4602 234.351 34.7336 231.131 34.1295C228.048 33.5509 225.097 32.7434 219.761 30.855C214.069 28.8394 214.332 28.6614 209.357 26.8747C201.648 24.1024 197.796 22.7227 195.207 22.6591C191.493 22.5764 188.411 23.3903 185.776 21.3747C185.447 21.1204 184.244 20.1794 183.6 18.5643C182.733 16.4025 183.383 14.3297 183.6 13.5349C184.231 11.2268 184.527 7.51355 182.877 1.47949"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M179.361 1.83594C179.841 4.53823 179.637 6.63012 179.361 8.03531C178.77 11.0492 177.652 12.0093 177.547 15.0549C177.468 17.4075 178.099 17.948 177.547 18.9144C176.588 20.6057 173.867 20.326 169.325 20.6693C161.938 21.2289 157.094 21.5913 152.875 24.4144C150.864 25.756 149.977 27.0022 148.281 26.8687C145.882 26.6843 144.114 23.9375 142.957 21.4832"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M162.898 50.897C162.451 49.7589 161.623 47.1329 162.898 44.8947C163.91 43.1208 165.77 42.4277 167.393 41.8491C175.654 38.9115 179.788 37.4428 180.82 37.1694C192.473 34.0347 192.105 34.3208 193.518 33.6596C197.507 31.8029 199.249 30.1053 202.587 30.029C203.383 30.0099 205.289 30.0607 207.668 29.3295C208.884 28.9544 210.77 27.9561 211.394 27.6191"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M213.241 69.3805C214.128 68.3059 215.495 66.6083 217.073 64.4655C220.878 59.2898 221.581 57.3887 226.819 49.2309C230.145 44.0553 232.051 41.4229 234.818 38.5108C236.145 37.112 237.322 36.0247 238.15 35.2871"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M272.917 86.8219C272.345 85.938 271.537 84.5901 270.788 82.8606C268.704 78.0473 268.829 74.3532 268.56 71.3012C268.323 68.6179 266.108 63.1879 261.672 52.3279C260.318 49.0088 258.728 44.8505 256.979 40.8447"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M325.449 88.8181C320.553 84.3736 316.741 80.5968 314.184 77.9962C307.941 71.6315 304.227 67.1998 295.861 58.9975C294.402 57.5669 291.615 54.8074 290.84 54.0762"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M341.676 65.5343C340.552 67.7851 339.54 69.6926 338.732 71.1868C338.331 71.9181 337.135 74.1053 335.294 76.725C333.743 78.9377 333.342 79.1602 333.001 79.2556C330.681 79.9359 327.638 76.0637 326.126 74.3469C322.715 70.4683 322.209 72.0198 303.708 61.6811C289.072 53.5043 290.222 53.002 286.693 52.3217C283.558 51.724 278.878 51.3933 277.038 48.2269C276.059 46.5356 276.177 44.5391 276.223 43.7951C276.4 40.8004 277.892 39.2362 278.839 37.1443C279.772 35.0906 280.495 31.8351 279.102 26.8057"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M267.515 37.2969C270.42 39.4651 273.325 41.6333 276.23 43.8015"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M244.781 122.587C242.79 122.021 240.424 122.021 238.413 122.021"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M143.726 122.021H235.745"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M237.834 119.396C240.148 120.457 242.461 121.519 244.775 122.587"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M154.262 134.439H154.216L154.203 134.465L154.025 135.081C153.907 135.514 153.512 136.544 153.499 136.601C153.256 137.021 153.322 136.893 153.052 137.332C152.776 137.796 152.514 138.19 152.402 138.286C152.185 138.47 151.948 138.667 151.547 138.667H151.462C151.403 138.655 151.35 138.642 151.258 138.572C150.936 138.025 150.864 137.936 150.332 137.548C150.115 136.645 150.088 135.704 150.082 134.878L150.069 133.6C150.069 133.517 150.115 132.036 150.01 129.588C150.463 129.619 150.719 129.619 151.416 129.429C151.462 130.065 151.515 131.031 151.534 133.454L151.547 135.03C151.547 135.857 151.62 136.525 151.764 137.097C152.678 135.66 153.335 134.077 153.729 132.697C153.815 132.417 153.874 132.093 153.887 131.864C153.9 131.584 153.9 131.247 153.887 130.961C153.887 130.637 153.874 130.268 153.841 129.594C154.295 129.626 154.551 129.626 155.241 129.435C155.287 130.071 155.346 131.037 155.359 133.46L155.373 135.037C155.386 135.863 155.445 136.531 155.589 137.103C156.516 135.641 157.219 133.969 157.554 132.532C157.699 131.915 157.732 131.323 157.745 130.77L157.791 129.492L159.158 129.734C159.145 130.338 159.184 130.56 159.145 131.095C158.941 135.272 156.615 137.962 156.22 138.286C155.944 138.521 155.714 138.667 155.366 138.667C155.294 138.667 155.234 138.655 155.175 138.623C154.926 138.26 154.84 138.133 154.728 138.032C154.682 137.974 154.623 137.93 154.538 137.86C154.452 137.79 154.36 137.707 154.163 137.561C154.045 137.071 153.986 136.83 153.992 136.397C153.979 136.366 154.104 135.374 154.163 134.973L154.249 134.452L154.262 134.439Z"
              fill="#0279FA"></path>
            <path
              d="M165.375 134.439H165.329L165.316 134.465L165.139 135.081C165.02 135.514 164.626 136.544 164.613 136.601C164.37 137.021 164.435 136.893 164.166 137.332C163.89 137.796 163.627 138.19 163.515 138.286C163.298 138.47 163.062 138.667 162.661 138.667H162.575C162.516 138.655 162.464 138.642 162.372 138.572C162.05 138.025 161.977 137.936 161.445 137.548C161.228 136.645 161.202 135.704 161.195 134.878L161.182 133.6C161.182 133.517 161.228 132.036 161.123 129.588C161.577 129.619 161.833 129.619 162.529 129.429C162.575 130.065 162.628 131.031 162.648 133.454L162.661 135.03C162.661 135.857 162.733 136.525 162.878 137.097C163.791 135.66 164.449 134.077 164.843 132.697C164.928 132.417 164.987 132.093 165.001 131.864C165.014 131.584 165.014 131.247 165.001 130.961C165.001 130.637 164.988 130.268 164.955 129.594C165.408 129.626 165.664 129.626 166.355 129.435C166.401 130.071 166.46 131.037 166.473 133.46L166.486 135.037C166.499 135.863 166.558 136.531 166.703 137.103C167.63 135.641 168.333 133.969 168.668 132.532C168.813 131.915 168.845 131.323 168.859 130.77L168.905 129.492L170.272 129.734C170.258 130.338 170.298 130.56 170.258 131.095C170.055 135.272 167.728 137.962 167.334 138.286C167.058 138.521 166.828 138.667 166.479 138.667C166.407 138.667 166.348 138.655 166.289 138.623C166.039 138.26 165.954 138.133 165.842 138.032C165.796 137.974 165.737 137.93 165.651 137.86C165.566 137.79 165.474 137.707 165.277 137.561C165.158 137.071 165.099 136.83 165.106 136.397C165.093 136.366 165.218 135.374 165.277 134.973L165.362 134.452L165.375 134.439Z"
              fill="#0279FA"></path>
            <path
              d="M176.496 134.439H176.45L176.436 134.465L176.259 135.081C176.141 135.514 175.746 136.544 175.733 136.601C175.49 137.021 175.556 136.893 175.286 137.332C175.01 137.796 174.747 138.19 174.636 138.286C174.419 138.47 174.182 138.667 173.781 138.667H173.696C173.637 138.655 173.584 138.642 173.492 138.572C173.17 138.025 173.098 137.936 172.565 137.548C172.348 136.645 172.322 135.704 172.316 134.878L172.302 133.6C172.302 133.517 172.348 132.036 172.243 129.588C172.697 129.619 172.953 129.619 173.65 129.429C173.696 130.065 173.748 131.031 173.768 133.454L173.781 135.03C173.781 135.857 173.854 136.525 173.998 137.097C174.912 135.66 175.569 134.077 175.963 132.697C176.049 132.417 176.108 132.093 176.121 131.864C176.134 131.584 176.134 131.247 176.121 130.961C176.121 130.637 176.108 130.268 176.075 129.594C176.528 129.626 176.785 129.626 177.475 129.435C177.521 130.071 177.58 131.037 177.593 133.46L177.606 135.037C177.619 135.863 177.679 136.531 177.823 137.103C178.75 135.641 179.453 133.969 179.788 132.532C179.933 131.915 179.966 131.323 179.979 130.77L180.025 129.492L181.392 129.734C181.379 130.338 181.418 130.56 181.379 131.095C181.175 135.272 178.848 137.962 178.454 138.286C178.178 138.521 177.948 138.667 177.6 138.667C177.527 138.667 177.468 138.655 177.409 138.623C177.159 138.26 177.074 138.133 176.962 138.032C176.916 137.974 176.857 137.93 176.772 137.86C176.686 137.79 176.594 137.707 176.397 137.561C176.279 137.071 176.22 136.83 176.226 136.397C176.213 136.366 176.338 135.374 176.397 134.973L176.482 134.452L176.496 134.439Z"
              fill="#0279FA"></path>
            <path
              d="M183.259 138.547V136.888H184.783V138.547H183.259Z"
              fill="#0279FA"></path>
            <path
              d="M188.772 130.357L188.759 130.567V137.771L188.845 138.547H187.215L187.3 137.771V130.567L187.313 130.357L187.228 129.588H188.858L188.772 130.357Z"
              fill="#0279FA"></path>
            <path
              d="M192.782 130.784V130.816C192.755 131.776 193.202 132.717 193.577 133.613C193.984 134.554 194.418 135.565 194.418 136.665C194.418 137.174 194.32 137.956 193.866 138.547H190.711C190.915 137.956 191.001 137.689 191.073 137.18L192.887 137.32C192.946 137.167 192.972 136.996 192.972 136.824C192.972 135.33 192.046 133.995 191.579 132.615C191.408 132.138 191.303 131.655 191.303 131.152C191.303 130.65 191.493 130.142 191.881 129.607H194.904C194.642 130.224 194.543 130.491 194.438 131.013L192.795 130.79L192.782 130.784Z"
              fill="#0279FA"></path>
            <path
              d="M200.78 130.809L199.124 130.821V137.784L199.196 138.547H197.566L197.652 137.771V130.809H195.996L195.897 129.588H200.872L200.774 130.809H200.78Z"
              fill="#0279FA"></path>
            <path
              d="M203.803 130.357L203.79 130.567V137.771L203.876 138.547H202.246L202.331 137.771V130.567L202.344 130.357L202.259 129.588H203.889L203.803 130.357Z"
              fill="#0279FA"></path>
            <path
              d="M209.712 138.547H206.209V130.434L207.3 129.601H209.469C210.599 130.357 211.289 131.05 211.289 132.837C211.289 134.274 211.125 135.762 210.928 137.281C210.474 137.644 210.04 138.044 209.705 138.547H209.712ZM207.674 130.764C207.707 131.794 207.707 133.517 207.707 133.517L207.694 137.301H209.423C209.712 135.921 209.804 134.611 209.804 133.276C209.804 132.29 209.791 130.79 208.194 130.783L207.668 130.771L207.674 130.764Z"
              fill="#0279FA"></path>
            <path
              d="M213.123 138.547V136.888H214.648V138.547H213.123Z"
              fill="#0279FA"></path>
            <path
              d="M220.7 138.547H217.198V130.434L218.289 129.601H220.457C221.588 130.357 222.278 131.05 222.278 132.837C222.278 134.274 222.114 135.762 221.916 137.281C221.463 137.644 221.029 138.044 220.694 138.547H220.7ZM218.663 130.764C218.696 131.794 218.696 133.517 218.696 133.517L218.683 137.301H220.411C220.701 135.921 220.793 134.611 220.793 133.276C220.793 132.29 220.779 130.79 219.182 130.783L218.657 130.771L218.663 130.764Z"
              fill="#0279FA"></path>
            <path
              d="M228.305 138.686L226.563 134.636L225.82 135.157V138.546H224.342V129.587L225.768 129.6C225.827 130.84 225.827 133.549 225.827 133.549V133.593L227.424 132.493C227.542 132.328 227.726 132.042 227.733 131.889C227.766 131.215 227.674 130.579 227.194 129.721L228.738 129.568C229.185 130.344 229.244 130.834 229.244 131.597C229.244 132.105 228.942 132.627 228.528 133.269L227.785 133.778L229.79 138.457L228.305 138.686Z"
              fill="#0279FA"></path>
            <path
              d="M57.8203 187.354C61.79 181.116 65.7596 174.885 69.7292 168.647"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M60.8634 189.178C64.833 182.941 67.3765 179.386 71.3462 173.155"
              stroke="#0279FA"
              stroke-width="2"
              stroke-miterlimit="10"></path>
          </svg>
        </div>
      </div>
    </section>
  </article>
</MainLayout>
