---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="TAK FOR TILMELDNINGEN" page="NB">
  <article class="bg-gul-100">
    <section class="p-M py-XL md:p-L md:pb-XL text-center">
      <div class="md:px-[500px]">
        <svg
          class="mb-M"
          width="404"
          height="198"
          viewBox="0 0 464 198"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_532_1009)">
            <path
              d="M106.96 36.6091C108.305 35.3567 112.624 31.1784 115.945 28.6793C121.377 24.5977 124.09 22.5598 126.389 21.3017C130.799 18.888 134.5 18.0114 139.006 16.9753C143.803 15.8767 147.617 15.4839 156.37 14.9545C164.64 14.4535 169.572 14.2998 177.768 13.9639C191.198 13.4118 190.267 13.3207 199.842 12.9734C211.49 12.5522 211.603 12.7343 222.03 12.3416C235.261 11.8406 235.085 11.5446 245.291 11.2315C256.342 10.8899 256.677 11.2315 269.976 10.9127C278.365 10.7135 277.741 10.5882 292.68 10.0816C301.273 9.79127 307.506 9.62618 318.824 9.33017C329.058 9.06261 334.177 8.92599 339.155 8.85199C348.907 8.70967 349.003 8.8406 360.872 8.73244C368.892 8.65844 375.369 8.5389 386.267 8.5332C396.631 8.5332 400.32 8.63567 405.491 9.7628C408.778 10.4801 413.829 11.8634 419.415 14.8406C422.871 16.6793 426.612 18.723 429.859 22.8956C431.085 24.4725 431.771 25.7875 433.139 28.4118C435.228 32.408 436.318 35.4307 438.56 41.704C441.103 48.8254 442.374 52.389 442.914 53.9601C445.95 62.8406 447.466 67.2751 447.778 69.1138C448.277 72.0455 448.414 74.4421 449.992 77.6015C451.025 79.6679 451.535 79.7818 453.079 82.8785C454.192 85.11 454.515 86.2372 455.849 87.9563C456.95 89.3795 457.314 89.3681 458.023 90.4554C459.266 92.3624 459.397 94.3207 459.488 95.9715C459.862 102.803 460.05 106.218 459.885 109.417C459.698 113.055 459.607 114.871 459.175 116.994C458.392 120.831 457.473 122.044 456.644 125.721C456.218 127.622 455.758 130.429 455.815 134.009C456.116 134.038 456.423 134.061 456.723 134.089C457.796 137.3 457.393 138.655 456.763 139.287C455.832 140.22 454.141 139.827 453.125 141.268C453.011 141.427 452.949 141.552 452.569 142.736C451.246 146.892 451.428 147.336 451.581 147.575C452.131 148.446 453.624 148.708 454.152 148.805C454.986 148.953 455.452 148.833 455.577 149.083C455.741 149.419 455.106 150.04 453.641 151.343C450.332 154.281 449.583 154.634 448.998 154.85C447.755 155.305 446.728 155.317 446.206 155.334C442.749 155.436 442.073 156.131 433.162 157.378C428.394 158.049 427.81 157.958 418.563 158.937C406.422 160.224 404.805 160.657 397.534 161.254C391.676 161.738 386.925 161.932 383.99 162.023C383.207 157.332 380.92 147.569 373.263 138.228C363.012 125.71 349.889 122.192 345.637 121.116C330.335 117.245 318.057 121.372 315.571 122.254C310.883 123.916 304.1 126.324 298.509 133.013C290.75 142.287 286.754 161.425 284.694 163.816C283.314 163.907 281.26 164.032 278.779 164.157C266.337 164.772 257.074 164.602 253.878 164.55C252.874 164.533 241.363 164.75 218.329 165.171C202.652 165.461 171.031 166.07 102.89 167.425C101.777 166.48 100.143 164.989 98.3773 162.962C95.579 159.746 94.4381 157.44 91.2312 152.214C87.8937 146.778 86.2306 144.057 85.1521 142.975C80.8327 138.638 75.6958 137.146 72.9316 136.378C68.4929 135.142 64.8375 135.279 57.5154 135.558C51.3569 135.791 48.2748 135.911 45.1076 137.192C39.5337 139.446 36.304 143.357 34.8907 145.11C29.2998 152.049 28.5335 159.734 28.403 162.871H16.6138C16.5173 162.825 16.2052 162.66 16.0349 162.29C15.8362 161.875 15.9838 161.436 16.0349 161.243C16.1938 160.674 16.103 159.717 15.9214 157.805C15.8078 156.615 15.7511 156.023 15.5694 155.533C14.911 153.78 13.6736 153.45 13.7134 152.157C13.7304 151.6 13.9745 151.11 14.122 150.82C14.5761 149.915 15.0302 149.858 15.2856 149.305C15.4616 148.918 15.5013 148.383 14.3548 145.987C13.4409 144.068 13.2479 144.063 12.669 142.668C11.9822 141.017 11.846 140.044 11.8005 139.639C11.7438 139.156 11.7438 138.78 11.8005 137.545C11.9935 133.463 12.2376 133.121 11.9765 131.835C11.7778 130.873 11.6076 130.879 11.2783 129.387C11.1705 128.898 10.9605 127.907 10.8697 126.649C10.7164 124.44 11.1591 124.423 10.8697 123.62C10.5688 122.789 10.0239 122.624 7.03834 120.649C5.52851 119.653 4.76224 119.14 4.36492 118.725C3.21268 117.518 2.74157 116.237 2.21369 114.763C1.88448 113.835 1.4531 112.412 1.11254 109.93C0.556287 105.865 0.27816 103.833 1.11254 101.658C1.95259 99.4839 3.39999 98.1233 4.1322 97.5256C5.4831 96.4212 6.90211 95.8748 9.5358 95.2543C14.4513 94.093 16.9714 94.2467 23.1243 93.3928C25.2471 93.0968 24.5603 93.1309 28.1759 92.5787C30.7642 92.1803 35.3164 91.4858 40.5441 90.945C49.4555 90.0228 53.9111 89.5617 55.3529 89.6641C56.3802 89.7381 58.7812 89.9488 61.3354 88.7932C61.9144 88.5313 63.5321 87.7742 64.8773 86.1119C65.7854 84.9905 65.8195 84.3871 66.6198 82.907C67.1704 81.8937 67.562 82.1556 70.0936 79.2638"
              stroke="#003670"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M14.9394 148.053C19.6846 147.814 24.4411 147.842 29.1863 147.598C29.4133 147.586 29.7028 147.478 29.7993 147.245L34.0279 137.294L36.1394 132.319C36.656 131.106 37.4449 129.825 36.8773 128.488C36.4176 127.4 35.1745 126.814 34.0563 126.706C32.8076 126.586 31.4851 126.728 30.2307 126.74C27.2507 126.768 24.2765 126.785 21.2966 126.797C18.0045 126.814 14.7124 126.831 11.4202 126.882C10.5064 126.899 10.5064 128.322 11.4202 128.305C16.8409 128.22 22.2672 128.22 27.6878 128.18C29.016 128.169 30.3385 128.157 31.6667 128.14C32.7225 128.129 33.9542 127.901 34.9248 128.414C36.3211 129.148 35.2994 130.685 34.8567 131.721L32.9098 136.303C31.4624 139.708 30.015 143.112 28.5676 146.516L29.1806 146.163C24.4354 146.402 19.6789 146.374 14.9337 146.618C14.0256 146.664 14.0199 148.087 14.9337 148.042L14.9394 148.053Z"
              fill="#003670"></path>
            <path
              d="M35.2256 130.582C27.4892 130.628 19.747 130.537 12.0106 130.582C11.0967 130.582 11.0967 132.011 12.0106 132.006C19.747 131.96 27.4892 132.051 35.2256 132.006C36.1395 132.006 36.1395 130.577 35.2256 130.582Z"
              fill="#003670"></path>
            <path
              d="M33.8633 134.368C26.6944 134.379 19.5256 134.345 12.3624 134.362C11.4485 134.362 11.4485 135.785 12.3624 135.785C19.5312 135.774 26.7001 135.808 33.8633 135.791C34.7771 135.791 34.7771 134.368 33.8633 134.368Z"
              fill="#003670"></path>
            <path
              d="M32.0356 138.107H12.3568C11.4429 138.107 11.4429 139.531 12.3568 139.531H32.0356C32.9495 139.531 32.9495 138.107 32.0356 138.107Z"
              fill="#003670"></path>
            <path
              d="M30.7756 141.802C24.8101 141.802 18.8446 141.62 12.8734 141.614C11.9595 141.614 11.9595 143.037 12.8734 143.037C18.8389 143.037 24.8044 143.22 30.7756 143.225C31.6895 143.225 31.6895 141.802 30.7756 141.802Z"
              fill="#003670"></path>
            <path
              d="M100.228 154.929C101.738 158.157 103.247 161.379 104.763 164.607C125.963 164.117 147.163 163.628 168.363 163.138V153.751C145.653 154.144 122.938 154.531 100.228 154.924V154.929Z"
              stroke="#003670"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M261.643 134.254H171.871V145.104H261.643V134.254Z"
              stroke="#003670"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M164.639 14.5101V4.62206C164.713 3.92187 164.923 3.07937 165.502 2.34502C167.228 0.141985 171.337 -0.00602214 173.795 1.87254C174.97 2.77197 175.685 3.92756 175.827 4.77576C175.912 5.26533 175.827 5.77197 175.827 6.26722V14.0433C172.098 14.0661 168.369 14.4873 164.634 14.5101H164.639Z"
              stroke="#003670"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M246.692 35.6865H185.8C181.549 35.6865 178.103 39.1425 178.103 43.4057V73.0869C178.103 77.3501 181.549 80.8061 185.8 80.8061H246.692C250.943 80.8061 254.389 77.3501 254.389 73.0869V43.4057C254.389 39.1425 250.943 35.6865 246.692 35.6865Z"
              stroke="#003670"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M152.567 80.7493H126.173C121.922 80.7493 118.476 81.569 118.476 77.2313V43.5482C118.476 39.2104 121.922 35.6924 126.173 35.6924H152.567C156.818 35.6924 160.263 39.2104 160.263 43.5482V72.8878C160.263 77.2256 156.818 80.7436 152.567 80.7436V80.7493Z"
              stroke="#003670"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M106.449 80.778L95.1534 80.1632C90.9021 80.1632 115.462 38.9716 115.462 43.2353V77.1405C115.462 81.4042 110.7 80.778 106.449 80.778Z"
              stroke="#003670"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M70.0823 79.2636C72.5798 79.8329 74.6686 79.9866 76.1217 80.0207C78.6078 80.0777 80.1006 80.0947 81.5934 79.2636C83.5005 78.1991 84.3292 76.3433 84.6698 75.6033C87.1729 70.1953 92.1678 63.0852 95.8403 57.8537C99.9384 52.0131 102.657 49.7304 104.689 45.9676C105.717 44.0663 106.386 41.9315 106.437 41.7665C106.96 40.2124 108.123 36.7456 107.652 36.387C106.806 35.7437 98.8769 43.9012 70.0767 79.2579L70.0823 79.2636Z"
              stroke="#003670"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M0.828857 107.942C147.572 105.13 294.32 102.318 441.063 99.5059"
              stroke="#003670"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M61.3864 195.073C76.2077 195.073 88.2228 183.023 88.2228 168.159C88.2228 153.294 76.2077 141.244 61.3864 141.244C46.5651 141.244 34.55 153.294 34.55 168.159C34.55 183.023 46.5651 195.073 61.3864 195.073Z"
              stroke="#003670"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M334.007 197.431C348.829 197.431 360.844 185.381 360.844 170.516C360.844 155.652 348.829 143.602 334.007 143.602C319.186 143.602 307.171 155.652 307.171 170.516C307.171 185.381 319.186 197.431 334.007 197.431Z"
              stroke="#003670"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M61.3866 175.281C65.3083 175.281 68.4874 172.093 68.4874 168.16C68.4874 164.226 65.3083 161.038 61.3866 161.038C57.465 161.038 54.2859 164.226 54.2859 168.16C54.2859 172.093 57.465 175.281 61.3866 175.281Z"
              stroke="#003670"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M334.007 177.637C337.929 177.637 341.108 174.449 341.108 170.516C341.108 166.583 337.929 163.395 334.007 163.395C330.086 163.395 326.906 166.583 326.906 170.516C326.906 174.449 330.086 177.637 334.007 177.637Z"
              stroke="#003670"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M313.284 71.1284C325.688 71.1284 335.744 61.0433 335.744 48.6028C335.744 36.1622 325.688 26.0771 313.284 26.0771C300.879 26.0771 290.824 36.1622 290.824 48.6028C290.824 61.0433 300.879 71.1284 313.284 71.1284Z"
              stroke="#003670"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M313.284 71.1288C323.257 71.1288 331.708 64.6051 334.637 55.5824C329.041 47.3509 323.444 39.1251 317.847 30.8936C314.879 36.2958 311.627 42.1706 308.658 47.5672"
              stroke="#003670"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M316.491 61.0525C310.168 50.1682 308.794 47.8001 302.471 36.9102C299.167 43.6502 295.864 50.3845 292.561 57.1246"
              stroke="#003670"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M313.284 71.1283C320.078 71.1283 326.163 68.0999 330.284 63.3181C327.729 61.024 325.527 58.9291 320.85 54.1758C317.524 59.783 314.203 65.3902 310.877 70.9974C311.666 71.0828 312.472 71.1283 313.284 71.1283Z"
              stroke="#003670"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M347.902 44.8463L347.885 45.1878V56.9374L348.016 58.2068H345.45L345.581 56.9374V45.1878L345.598 44.8463L345.467 43.5996H348.033L347.902 44.8463Z"
              fill="#003670"></path>
            <path
              d="M355.145 45.546V45.6029C355.105 47.1741 355.803 48.7054 356.388 50.1627C357.029 51.694 357.71 53.3392 357.71 55.138C357.71 55.9692 357.557 57.2386 356.842 58.2006H351.881C352.205 57.2329 352.335 56.8003 352.449 55.9691L355.298 56.1969C355.395 55.9521 355.429 55.6674 355.429 55.3828C355.429 52.9407 353.976 50.7661 353.243 48.5175C352.977 47.7433 352.812 46.9464 352.812 46.1323C352.812 45.3183 353.113 44.4872 353.714 43.6162H358.471C358.057 44.6181 357.903 45.0564 357.733 45.9046L355.151 45.546H355.145Z"
              fill="#003670"></path>
            <path
              d="M368.665 45.5803L366.06 45.5974V56.9484L366.174 58.1951H363.608L363.739 56.9257V45.5746H361.133L360.98 43.5879H368.807L368.654 45.5746L368.665 45.5803Z"
              fill="#003670"></path>
            <path
              d="M374.364 44.8463L374.347 45.1878V56.9374L374.477 58.2068H371.912L372.042 56.9374V45.1878L372.059 44.8463L371.929 43.5996H374.494L374.364 44.8463Z"
              fill="#003670"></path>
            <path
              d="M384.604 58.2006H379.098V44.9767L380.812 43.6162H384.229C386 44.8458 387.095 45.9786 387.095 48.8932C387.095 51.2386 386.834 53.658 386.528 56.1399C385.813 56.7263 385.132 57.3866 384.604 58.2006ZM381.397 45.5062C381.453 47.1912 381.453 49.9919 381.453 49.9919L381.436 56.157H384.155C384.609 53.9027 384.757 51.768 384.757 49.5934C384.757 47.9824 384.74 45.546 382.231 45.5232L381.402 45.5062H381.397Z"
              fill="#003670"></path>
            <path
              d="M294.173 83.5268H292.629C292.617 84.5002 292.617 86.2023 292.617 86.6919C292.617 86.6919 291.738 86.6634 291.528 86.6577V79.7868L292.612 79.8949C292.629 81.5572 292.629 82.2801 292.629 82.6046H294.173V79.7754L295.24 79.9006C295.268 82.3541 295.257 82.8437 295.257 82.8437C295.257 82.9917 295.268 86.1056 295.268 86.6976C295.268 86.6976 294.377 86.6805 294.178 86.6634V83.5382L294.173 83.5268Z"
              fill="#003670"></path>
            <path
              d="M298.85 87.6597L298.39 88.2518L296.619 88.4112C296.823 87.711 296.823 87.6597 296.823 87.6597L296.852 87.728C296.852 87.728 296.784 87.4263 297.862 87.4605V84.2726C297.862 83.9368 297.828 81.933 297.799 81.2157L298.872 81.3239C298.855 82.081 298.855 82.9292 298.855 82.9292C298.855 82.9292 298.844 83.618 298.844 87.654L298.85 87.6597ZM297.799 80.8969V79.6787L298.838 79.8039V81.0336L297.799 80.9026V80.8969Z"
              fill="#003670"></path>
            <path
              d="M303.845 83.2026V83.2709L303.833 83.436V83.7036L301.869 84.7169C301.886 85.0072 301.937 85.4398 302.017 85.6903L302.306 85.8838H302.613C302.692 85.5366 302.755 85.2747 302.8 84.8933L303.805 84.8763C303.725 85.4057 303.697 85.6561 303.617 85.918C303.351 86.1286 303.095 86.3677 302.902 86.6751H301.994C301.069 86.6751 300.831 84.8535 300.831 84.2216C300.831 83.9484 300.995 82.343 301.228 81.9787C301.375 81.899 301.852 81.6429 301.886 81.3525H302.732C303.373 81.7852 303.805 82.1893 303.833 83.1912V83.2026H303.845ZM302.823 83.1912C302.823 82.6789 302.658 82.1837 302.17 82.1153C301.977 82.6391 301.915 83.3449 301.881 83.8971C302.164 83.7377 302.539 83.5442 302.823 83.3848V83.1912Z"
              fill="#003670"></path>
            <path
              d="M306.609 83.8003C306.688 83.4758 306.955 82.5194 306.972 82.4853C307.034 82.36 306.944 82.5023 307.08 82.2405C307.227 81.9559 307.398 81.6769 307.511 81.5858C307.67 81.4549 307.818 81.3411 308.13 81.3411C308.13 81.3411 308.334 81.5631 308.453 81.6883C308.578 81.8135 308.822 81.99 308.822 81.99C308.891 82.2974 308.913 82.434 308.919 82.5137C308.936 82.6105 308.93 82.6447 308.93 82.7073L308.868 83.7149L308.902 83.7263C308.919 83.5498 308.998 83.2025 309.066 82.9464C309.129 82.7357 309.271 82.3885 309.271 82.3373C309.447 81.9729 309.634 81.6769 309.719 81.5972C309.844 81.4891 310.003 81.3524 310.338 81.3524C310.338 81.3524 310.542 81.5745 310.661 81.6997C310.786 81.8249 311.03 82.0014 311.03 82.0014C311.155 82.5479 311.172 83.1171 311.172 83.5896L311.184 84.3411C311.184 84.3411 311.155 85.1722 311.229 86.7092C311.229 86.7092 310.798 86.6295 310.287 86.8003C310.287 86.8003 310.207 86.2595 310.196 84.4264L310.185 83.5099C310.185 83.1058 310.156 82.8325 310.105 82.5934C309.64 83.3449 309.254 84.1817 309.066 84.9957C309.032 85.1551 309.015 85.3031 308.998 85.4568C308.987 85.6048 308.987 85.7471 308.981 85.9008C308.981 86.1115 308.993 86.2652 309.01 86.7206C309.01 86.7206 308.584 86.6409 308.073 86.8116C308.073 86.8116 307.994 86.2709 307.982 84.4378L307.971 83.5213C307.96 83.1172 307.937 82.8439 307.892 82.6048C307.426 83.3562 307.04 84.1931 306.853 85.0071C306.762 85.36 306.745 85.7073 306.739 86.0261L306.711 86.7775L305.78 86.6978V81.8135L305.797 81.7054L305.814 81.6143C305.825 81.5631 305.928 81.3923 306.768 81.2158C306.739 81.6826 306.739 81.9559 306.739 81.9559C306.739 81.9559 306.705 82.7528 306.575 83.8401H306.609V83.8003Z"
              fill="#003670"></path>
            <path
              d="M314.045 83.8003C314.124 83.4758 314.391 82.5194 314.408 82.4853C314.47 82.36 314.379 82.5023 314.516 82.2405C314.663 81.9559 314.833 81.6769 314.947 81.5858C315.106 81.4549 315.254 81.3411 315.566 81.3411C315.566 81.3411 315.77 81.5631 315.889 81.6883C316.014 81.8135 316.258 81.99 316.258 81.99C316.326 82.2974 316.349 82.434 316.355 82.5137C316.372 82.6105 316.366 82.6447 316.366 82.7073L316.304 83.7149L316.338 83.7263C316.355 83.5498 316.434 83.2025 316.502 82.9464C316.565 82.7357 316.707 82.3885 316.707 82.3373C316.883 81.9729 317.07 81.6769 317.155 81.5972C317.28 81.4891 317.439 81.3524 317.774 81.3524C317.774 81.3524 317.978 81.5745 318.097 81.6997C318.222 81.8249 318.466 82.0014 318.466 82.0014C318.591 82.5479 318.608 83.1171 318.608 83.5896L318.619 84.3411C318.619 84.3411 318.591 85.1722 318.665 86.7092C318.665 86.7092 318.233 86.6295 317.723 86.8003C317.723 86.8003 317.643 86.2595 317.632 84.4264L317.62 83.5099C317.62 83.1058 317.592 82.8325 317.541 82.5934C317.076 83.3449 316.69 84.1817 316.502 84.9957C316.468 85.1551 316.451 85.3031 316.434 85.4568C316.423 85.6048 316.423 85.7471 316.417 85.9008C316.417 86.1115 316.428 86.2652 316.445 86.7206C316.445 86.7206 316.02 86.6409 315.509 86.8116C315.509 86.8116 315.429 86.2709 315.418 84.4378L315.407 83.5213C315.395 83.1172 315.373 82.8439 315.327 82.6048C314.862 83.3562 314.476 84.1931 314.289 85.0071C314.198 85.36 314.181 85.7073 314.175 86.0261L314.147 86.7775L313.216 86.6978V81.8135L313.233 81.7054L313.25 81.6143C313.261 81.5631 313.363 81.3923 314.203 81.2158C314.175 81.6826 314.175 81.9559 314.175 81.9559C314.175 81.9559 314.141 82.7528 314.01 83.8401H314.045V83.8003Z"
              fill="#003670"></path>
            <path
              d="M323.546 83.2026V83.2709L323.535 83.436V83.7036L321.571 84.7169C321.588 85.0072 321.639 85.4398 321.719 85.6903L322.008 85.8838H322.314C322.394 85.5366 322.456 85.2747 322.502 84.8933L323.506 84.8763C323.427 85.4057 323.399 85.6561 323.319 85.918C323.052 86.1286 322.797 86.3677 322.604 86.6751H321.696C320.771 86.6751 320.532 84.8535 320.532 84.2216C320.532 83.9484 320.697 82.343 320.93 81.9787C321.077 81.899 321.554 81.6429 321.588 81.3525H322.434C323.075 81.7852 323.506 82.1893 323.535 83.1912V83.2026H323.546ZM322.524 83.1912C322.524 82.6789 322.36 82.1837 321.872 82.1153C321.679 82.6391 321.616 83.3449 321.582 83.8971C321.866 83.7377 322.241 83.5442 322.524 83.3848V83.1912Z"
              fill="#003670"></path>
            <path
              d="M326.611 86.8744C325.731 86.5841 325.476 86.123 325.476 86.123V79.5879L326.481 79.7017C326.509 82.1496 326.515 82.827 326.515 82.827C326.515 82.827 326.498 83.3849 326.503 85.7701C326.549 85.8384 326.838 85.9921 327.06 86.0945L326.611 86.8744Z"
              fill="#003670"></path>
            <path
              d="M331.89 86.715C331.799 86.6979 331.714 86.6979 331.635 86.6979C331.396 86.6979 331.158 86.732 330.931 86.8117C330.914 86.3791 330.88 86.0888 330.88 85.6618C330.88 85.3203 330.948 84.7681 331.004 84.4152L330.959 84.4265C330.721 85.178 330.42 85.9522 330.096 86.6808H329.438C328.893 86.1799 328.785 85.3374 328.785 84.6315C328.785 83.6751 329.041 82.5992 329.517 81.7681C329.722 81.6998 330.011 81.4835 330.176 81.3525H331.981C331.901 81.6087 331.856 81.8819 331.856 82.1495C331.85 82.9465 331.839 83.7491 331.839 84.5518C331.839 85.2918 331.856 85.9749 331.89 86.715ZM330.278 82.2178C329.971 82.7131 329.733 83.9654 329.733 84.5916C329.733 84.8478 329.75 85.1153 329.83 85.3601C330.017 84.9332 330.198 84.5233 330.403 84.1134C330.494 83.9199 330.613 83.7264 330.692 83.5328C330.84 83.1799 330.857 82.6049 330.88 82.2235L330.278 82.2121V82.2178Z"
              fill="#003670"></path>
            <path
              d="M335.12 86.6978C335.12 86.6978 335.074 86.6978 335.052 86.6864C334.961 86.6864 334.904 86.6408 334.864 86.5953C334.751 86.4359 334.66 86.3391 334.592 86.2594C334.512 86.1797 334.45 86.1171 334.37 86.0488C334.132 85.5991 334.024 84.9558 334.019 84.4606C334.019 84.045 333.984 82.4909 334.007 82.1665C334.002 81.9558 333.99 81.7224 333.973 81.2727C333.973 81.2727 334.399 81.3524 334.915 81.1816C334.915 81.1816 334.983 81.7908 335.006 83.6295L335.018 84.546C335.018 84.99 335.108 85.4226 335.211 85.6389C335.659 84.8818 335.931 83.9141 336.136 83.0659C336.215 82.7129 336.232 82.3657 336.244 82.0469L336.278 81.2158L337.191 81.3809C337.339 84.3752 335.926 86.2139 335.659 86.4359C335.494 86.5668 335.341 86.6807 335.12 86.6807V86.6978Z"
              fill="#003670"></path>
            <path
              d="M342.078 83.2026V83.2709L342.067 83.436V83.7036L340.103 84.7169C340.12 85.0072 340.171 85.4398 340.251 85.6903L340.54 85.8838H340.847C340.926 85.5366 340.989 85.2747 341.034 84.8933L342.039 84.8763C341.959 85.4057 341.931 85.6561 341.851 85.918C341.585 86.1286 341.329 86.3677 341.136 86.6751H340.228C339.303 86.6751 339.064 84.8535 339.064 84.2216C339.064 83.9484 339.229 82.343 339.462 81.9787C339.609 81.899 340.086 81.6429 340.12 81.3525H340.966C341.607 81.7852 342.039 82.1893 342.067 83.1912V83.2026H342.078ZM341.057 83.1912C341.057 82.6789 340.892 82.1837 340.404 82.1153C340.211 82.6391 340.149 83.3449 340.115 83.8971C340.398 83.7377 340.773 83.5442 341.057 83.3848V83.1912Z"
              fill="#003670"></path>
            <path
              d="M346.177 82.2292L345.501 82.2178V85.7985C345.547 85.8668 345.836 86.0205 346.046 86.123L345.603 86.8915C344.706 86.6011 344.513 86.1401 344.513 86.1401V82.2178L343.759 82.1837C343.759 82.1837 343.77 81.8023 343.986 81.3526H344.525L344.508 80.0205L345.501 80.1628V81.3526H346.426L346.182 82.2292H346.177Z"
              fill="#003670"></path>
            <path
              d="M351.654 81.5743C351.688 81.3693 352.466 81.2042 352.608 81.1758C352.59 81.4206 352.579 81.671 352.579 81.9158C352.579 82.1264 352.568 82.3598 352.562 82.5591C352.556 82.8039 352.483 83.2479 352.449 83.635H352.483C352.517 83.4585 352.818 82.616 352.88 82.4623C352.988 82.1891 353.283 81.6312 353.328 81.5856C353.516 81.3978 353.709 81.3295 353.964 81.3295C354.185 81.5686 354.407 81.7792 354.662 81.9727C354.867 82.8266 354.804 83.9253 354.804 84.802C354.804 85.4566 354.821 86.0202 354.85 86.6748C354.77 86.6577 354.674 86.6577 354.594 86.6577C354.367 86.6577 354.129 86.6919 353.896 86.7659C353.828 85.9974 353.828 85.1834 353.828 84.3978C353.817 83.8399 353.862 83.1283 353.737 82.5591C353.289 83.282 352.891 84.1245 352.698 84.9614C352.556 85.5534 352.573 86.1113 352.556 86.7204L351.62 86.6293V81.7621C351.62 81.7204 351.624 81.6767 351.631 81.6312L351.66 81.5686L351.654 81.5743Z"
              fill="#003670"></path>
            <path
              d="M357.96 86.8683C357.08 86.5837 356.825 86.1283 356.825 86.1283V81.3066L357.83 81.4205C357.83 81.984 357.864 83.9024 357.864 83.9024C357.864 83.9024 357.852 84.3977 357.852 85.7753C357.898 85.8436 358.187 85.9973 358.409 86.0941L357.96 86.874V86.8683ZM356.831 80.8854V79.6729L357.864 79.7981V81.0106L356.831 80.8854Z"
              fill="#003670"></path>
            <path
              d="M362.444 82.2292L361.769 82.2178V85.7985C361.814 85.8668 362.104 86.0205 362.314 86.123L361.871 86.8915C360.974 86.6011 360.781 86.1401 360.781 86.1401V82.2178L360.026 82.1837C360.026 82.1837 360.037 81.8023 360.253 81.3526H360.792L360.775 80.0205L361.769 80.1628V81.3526H362.694L362.45 82.2292H362.444Z"
              fill="#003670"></path>
            <path
              d="M365.384 83.1739C365.418 82.986 365.549 82.4395 365.623 82.2744C365.782 81.8532 365.963 81.3409 366.503 81.3409C366.679 81.3409 366.996 81.4832 367.161 81.5458C367.099 81.8817 367.019 82.2175 366.934 82.5534C366.786 82.4851 366.633 82.4225 366.486 82.3598C366.054 83.0202 365.799 83.7204 365.572 84.4775C365.458 84.8589 365.458 86.2593 365.447 86.6748L364.505 86.6634V81.7678C364.505 81.7052 364.533 81.6084 364.55 81.5458V81.5743C364.584 81.3693 365.35 81.2042 365.504 81.1758C365.487 81.4206 365.487 81.6881 365.47 81.9329C365.441 82.32 365.401 82.7014 365.345 83.1511L365.39 83.1682L365.384 83.1739Z"
              fill="#003670"></path>
            <path
              d="M370.493 86.681H369.585C368.66 86.681 368.421 84.8594 368.421 84.2275C368.421 83.9542 368.586 82.3489 368.818 81.9846C368.966 81.9049 369.443 81.6487 369.477 81.3584H370.323C370.992 81.8081 371.424 82.2351 371.424 83.311C371.424 84.1478 371.327 85.0187 371.214 85.9182C370.941 86.1402 370.686 86.3793 370.493 86.6867V86.681ZM369.449 84.3755C369.449 84.7569 369.494 85.3318 369.607 85.6905L369.897 85.884H370.203C370.351 85.144 370.413 84.3015 370.413 83.5501C370.413 83.0093 370.402 82.2066 369.755 82.1098C369.562 82.8271 369.449 83.6411 369.449 84.3698V84.3755Z"
              fill="#003670"></path>
            <path
              d="M376.191 87.8938C375.936 88.3094 375.698 88.4403 375.266 88.4403C374.665 88.4403 374.035 88.3777 373.268 88.0418L373.762 87.3872C374.324 87.4669 374.772 87.5523 375.249 87.5978V86.0665C375.249 85.9982 375.346 85.0931 375.397 84.6433L375.368 84.6319C375.289 84.9507 374.965 85.7192 374.926 85.8046L374.602 86.6585H373.853C373.263 86.112 373.2 85.2524 373.2 84.6775C373.2 83.761 373.541 82.6168 374.018 81.7686C374.245 81.6832 374.494 81.4839 374.676 81.3359H376.26C376.209 81.8938 376.18 82.2809 376.18 82.6509V87.871L376.191 87.8938ZM374.818 82.2297C374.415 82.8103 374.159 83.9261 374.159 84.649C374.159 84.9052 374.176 85.1955 374.256 85.4346C374.386 85.1614 374.528 84.8767 374.67 84.5864C374.858 84.1879 375.039 83.7894 375.164 83.3853C375.278 83.0039 375.289 82.6168 375.306 82.2297H374.824H374.818Z"
              fill="#003670"></path>
            <path
              d="M381.232 83.2026V83.2709L381.221 83.436V83.7036L379.257 84.7169C379.274 85.0072 379.325 85.4398 379.404 85.6903L379.694 85.8838H380C380.08 85.5366 380.142 85.2747 380.188 84.8933L381.192 84.8763C381.113 85.4057 381.084 85.6561 381.005 85.918C380.744 86.1286 380.483 86.3677 380.29 86.6751H379.382C378.456 86.6751 378.218 84.8535 378.218 84.2216C378.218 83.9484 378.383 82.343 378.615 81.9787C378.763 81.899 379.24 81.6429 379.274 81.3525H380.119C380.761 81.7852 381.192 82.1893 381.221 83.1912V83.2026H381.232ZM380.21 83.1912C380.21 82.6789 380.046 82.1837 379.558 82.1153C379.365 82.6391 379.302 83.3449 379.268 83.8971C379.552 83.7377 379.926 83.5442 380.21 83.3848V83.1912Z"
              fill="#003670"></path>
            <path
              d="M383.202 81.5743C383.236 81.3693 384.013 81.2042 384.155 81.1758C384.138 81.4206 384.127 81.671 384.127 81.9158C384.127 82.1264 384.115 82.3598 384.11 82.5591C384.104 82.8039 384.03 83.2479 383.996 83.635H384.03C384.064 83.4585 384.365 82.616 384.428 82.4623C384.535 82.1891 384.831 81.6312 384.876 81.5856C385.063 81.3978 385.256 81.3295 385.512 81.3295C385.733 81.5686 385.954 81.7792 386.21 81.9727C386.414 82.8266 386.352 83.9253 386.352 84.802C386.352 85.4566 386.369 86.0202 386.397 86.6748C386.318 86.6577 386.221 86.6577 386.142 86.6577C385.915 86.6577 385.676 86.6919 385.444 86.7659C385.375 85.9974 385.375 85.1834 385.375 84.3978C385.364 83.8399 385.41 83.1283 385.285 82.5591C384.836 83.282 384.439 84.1245 384.246 84.9614C384.104 85.5534 384.121 86.1113 384.104 86.7204L383.167 86.6293V81.7621C383.167 81.7204 383.171 81.6767 383.179 81.6312L383.207 81.5686L383.202 81.5743Z"
              fill="#003670"></path>
            <path
              d="M392.891 86.8683C392.011 86.5837 391.755 86.1283 391.755 86.1283V81.3066L392.76 81.4205C392.76 81.984 392.794 83.9024 392.794 83.9024C392.794 83.9024 392.783 84.3977 392.783 85.7753C392.828 85.8436 393.118 85.9973 393.339 86.0941L392.891 86.874V86.8683ZM391.767 80.8854V79.6729L392.8 79.7981V81.0106L391.767 80.8854Z"
              fill="#003670"></path>
            <path
              d="M396.234 82.2125C396.239 82.4402 396.296 82.6736 396.376 82.9126C396.466 83.1745 396.58 83.4421 396.699 83.7153C396.938 84.2618 397.193 84.8652 397.193 85.5085C397.193 85.7988 397.125 86.3282 396.83 86.6755H394.866C395.013 86.2599 395.076 86.0664 395.104 85.7134L396.205 85.8045C396.222 85.7419 396.222 85.6736 396.222 85.5996C396.222 85.0531 395.995 84.5293 395.746 83.9942C395.507 83.4705 395.235 82.907 395.235 82.3263C395.235 82.0018 395.365 81.7001 395.615 81.3643H397.516C397.323 81.7912 397.244 81.9904 397.193 82.3434L396.234 82.2181V82.2125Z"
              fill="#003670"></path>
            <path
              d="M15.3084 147.137C14.9111 147.359 14.1561 147.769 13.3956 148.167C7.75923 151.116 6.21535 150.803 4.65443 152.505C2.82675 154.503 2.11724 158.032 3.48517 160.127C4.43307 161.573 6.11886 161.943 8.79795 162.49C10.83 162.905 12.8904 163.338 16.7331 162.797"
              stroke="#003670"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M457.234 137.903C457.416 138.285 457.734 138.86 458.284 139.412C459.658 140.778 460.884 140.414 462.019 141.478C463.041 142.435 463.177 143.778 463.33 145.355C463.432 146.345 463.705 149.078 462.399 149.846C462.087 150.029 462.013 149.909 459.936 149.846C458.017 149.789 455.367 148.896 455.14 148.913C454.231 148.987 456.025 148.987 455.56 149.089"
              stroke="#003670"
              stroke-width="2"
              stroke-miterlimit="10"></path>
            <path
              d="M383.57 162.034C378.769 161.681 376.941 161.749 372.145 161.397C372.332 159.353 371.52 155.482 370.192 151.998C369.29 149.619 366.792 145.503 361.19 139.731C359.85 138.353 352.931 133.531 348.907 131.721C342.203 128.698 337.458 127.685 329.954 128.408C322.871 129.091 316.826 131.681 310.049 135.905C307.721 137.357 302.051 140.994 298.941 148.298C297.062 152.715 296.795 160.987 296.863 163.395C292.805 164.96 288.809 162.273 284.756 163.839"
              stroke="#003670"
              stroke-width="2"
              stroke-miterlimit="10"></path>
          </g>

          <defs>
            <clipPath id="clip0_532_1009">
              <rect width="464" height="198" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="md:px-[400px]">
        <h2 class="h2_mobil mb:h2_desk text-blaa-700">
          Tak for din tilmelding!
        </h2>
        <p class="pstor_mobil mb:pstor_desk text-blaa-800">
          Du er nu tilmeldt vores nyhedsbrev – og vi glæder os til at dele
          iskolde nyheder, sæsonens smagsvarianter, events og eksklusive tilbud
          med dig.
        </p>
      </div>
    </section>
  </article>
</MainLayout>
