---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import spiseis from "/public/spiseis.webp";
import engangsservice from "/public/engangsservice.webp";
import økovarer from "/public/økoråvarer.webp";
import følgersæson from "/public/følgersæson.webp";
import ispersoner from "../assets/images/istid_personer.webp";
import DesktopComponent from "../components/DesktopComponent.astro";
import MobileComponent from "../components/MobileComponent.astro";
import unikke from "../assets/images/unikke.webp";

import "animate.css";
---

<MainLayout
  title="OM OS"
  page="omos"
  description="Lær ISTID at kende - vores historie, værdier og passion for at skabe is med flydende nitrogen, der giver en unik og frisk smagsoplevelse."
  ogtitle="Om ISTID - Historien bag vores unikke is"
  ogdescription="Hos ISTID kombinerer vi innovation og tradition for at lave is, der skiller sig ud. Læs om vores rejse og passion for flydende nitrogen og kvalitet."
>
  <section class="bg-gul-400 p-M md:p-L">
    <h1 class="h1_mobil text-gul-800 text-center md:h1">Hvem er istid</h1>
    <p class="pstor_mobil text-gul-900 text-center md:pstor">
      Hos ISTID elsker vi at trylle med flydende nitrogen og økologiske råvarer,
      og invitere dig med på en smagsrejse, hvor videnskab møder økologi og
      skaber magi i hver eneste skefuld.
    </p>
  </section>
  <section>
    <div class="bg-blaa-100 py-M px-M md:m-L md:relavtive">
      <h2
        class="h2_mobil md:h2 text-blaa-600 text-left md:text-left pb-XS md:pt-M"
      >
        Historien
      </h2>
      <p
        class="p_mobil md:p text-blaa-900 text-left md:text-left pb-M md:max-w-[820px]"
        id="tekst1"
      >
        ISTID blev grundlagt i 2014 af Anniken og Nina, drevet af ønsket om at
        skabe en anderledes isoplevelse. Inspireret af flydende nitrogen is, som
        Anniken først oplevede på en rejse til San Francisco i 2012, besluttede
        de at bringe denne unikke ismetode til Danmark. Fra starten serverede de
        is på festivaler og gader, og i 2015 åbnede de deres første butik. I dag
        er Anniken den eneste ejer og driver virksomheden med fokus på at levere
        en lokal og unik isoplevelse. ISTID er ikke kun en butik, men også en
        cateringservice, der tilbyder is til virksomheder og events.
      </p>
      <div>
        <Image
          src={ispersoner}
          alt="billede af anniken og veninde"
          class="w-3/4 mx-auto mt-4 md:w-1/3 md:absolute top-[690px] left-[990px]"
          loading="lazy"
        />
      </div>
    </div>

    <div class="bg-rod-50 py-M px-M md:m-L md:my-XL md:relative">
      <h2 class="h2_mobil md:h2 text-rod-500 md:text-right md:pt-M pb-XS">
        Hvad der gør os unikke
      </h2>
      <p
        class="p_mobil md:p text-blaa-900 md:text-right pb-M md:max-w-[820px] md:ml-auto"
        id="tekst2"
      >
        Vi er de eneste i Danmark, der fryser vores is med flydende nitrogen -
        direkte foran dig. Det betyder, at vi kan lave frisk is på få sekunder,
        hvilket giver en helt særlig, cremet konsistens, du ikke finder andre
        steder. Samtidig bruger vi økologiske råvarer og mindre sukker end
        traditionel is, uden at gå på kompromis med smagen. Hos ISTID handler
        det om rene ingredienser, ægte smagsoplevelser og en is, der både føles
        lettere og smager friskere.
      </p>
      <div>
        <Image
          src={unikke}
          alt="billede af event"
          class="w-[600px] mx-auto pl-S mt-4 md:w-[700px] md:absolute top-[100px] left-[-170px]"
          loading="lazy"
        />
      </div>
    </div>

    <section class="relative h-auto">
      <div
        class="sticky top-[300px] transform -translate-y-1/2 hidden md:flex justify-center z-10 rotate-center"
      >
        <svg
          width="100"
          height="100"
          viewBox="0 0 489 578"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M62.5039 65.0928C15.6632 93.6595 -6.01087 130.974 3.00391 185.093C6.77013 207.703 17.0039 242.093 17.0039 242.093C17.0039 242.093 4.03742 252.98 3.00391 267.093C2.09824 279.46 17.0039 295.593 17.0039 295.593L26.0039 348.593L47.5039 503.593C47.5039 503.593 64.1209 539.028 97.0039 554.593C141.443 575.628 195.838 577.116 245.004 577.093C293.976 577.07 324.228 575.519 368.504 554.593C396.256 541.477 426.004 519.093 426.004 519.093L441.004 407.593L458.004 306.593C458.004 306.593 476.309 300.755 479.504 283.593C481.809 271.209 473.004 253.093 473.004 253.093C473.004 253.093 515.004 185.093 458.004 120.093C426.754 84.457 360.004 57.5929 360.004 57.5929C360.004 57.5929 343.504 8.2778 262.004 1.59288C184.504 -4.76393 155.004 42.0929 155.004 42.0929C155.004 42.0929 93.9389 45.9216 62.5039 65.0928Z"
            fill="#FAD8D8"
            stroke="#FAD8D8"></path>
          <path
            d="M38.818 294.623C50.2404 364.34 62.1488 436.491 73.5955 506.184C79.0636 513.824 88.08 524.451 101.884 533.392C115.396 542.139 128.714 546.14 152.458 550.405C176.883 554.791 198.901 558.719 232.196 558.912C275.115 559.129 304.619 552.936 336.796 546.164C367.515 539.705 385.961 533.416 400.227 517.27C406.788 509.847 410.677 502.377 412.961 497.027C413.229 490.544 413.569 483.99 413.958 477.411C418.041 411.405 428.856 349.833 443.802 293.057"
            stroke="#DD3032"
            stroke-width="4"
            stroke-miterlimit="10"></path>
          <path
            d="M37.5039 249.593C34.2716 251.183 33.2526 250.33 28.7079 254.788C25.5729 257.849 24.139 260.307 22.9238 263.97C19.4971 274.332 29.5342 286.646 31.3084 288.478C39.6929 297.25 49.9244 300.624 69.8771 304.72C98.19 310.528 120.889 312.577 130.634 313.444C154.986 315.589 167.162 316.649 183.007 317.42C248.406 320.553 301.994 316.77 322.919 315.035C375.559 310.697 392.061 310.022 412.062 303.925C431.942 297.876 447.593 290.454 458.043 284.887C459.526 282.959 461.713 279.537 462.588 274.814C463.803 268.139 461.665 262.861 460.814 260.813C459.672 258.114 459.064 257.126 458.019 255.8"
            stroke="#DD3032"
            stroke-width="4"
            stroke-miterlimit="10"></path>
          <path
            d="M42.5039 257.092C40.9971 257.237 40.9566 255.799 39.2797 260.45C36.9223 266.933 43.9702 273.608 45.404 274.62C53.181 279.994 60.6906 281.199 67.3982 282.332C106.89 289.031 85.0178 287.32 104.898 289.272C165.096 295.176 194.673 296.068 194.673 296.068C213.07 296.622 243.57 297.466 284.812 296.068C331.863 294.477 357.915 293.441 392.62 286.067C414.201 281.464 431.748 275.97 443.826 271.777C444.142 271.608 450.461 268.62 450.339 268.162"
            stroke="#DD3032"
            stroke-width="4"
            stroke-miterlimit="10"></path>
          <path
            d="M240.667 487.179C281.349 487.179 314.329 454.477 314.329 414.136C314.329 373.795 281.349 341.093 240.667 341.093C199.984 341.093 167.004 373.795 167.004 414.136C167.004 454.477 199.984 487.179 240.667 487.179Z"
            stroke="#DD3032"
            stroke-width="4"
            stroke-miterlimit="10"></path>
          <path
            d="M240.667 487.179C273.377 487.179 301.101 466.017 310.716 436.766C292.353 410.071 274.011 383.398 255.648 356.703C245.928 374.22 235.236 393.267 225.516 410.784"
            stroke="#DD3032"
            stroke-width="4"
            stroke-miterlimit="10"></path>
          <path
            d="M251.19 454.513C230.46 419.207 225.938 411.538 205.209 376.231C194.369 398.086 183.549 419.94 172.709 441.773"
            stroke="#DD3032"
            stroke-width="4"
            stroke-miterlimit="10"></path>
          <path
            d="M240.667 487.179C262.96 487.179 282.908 477.352 296.41 461.846C288.042 454.408 280.816 447.619 265.474 432.197C254.571 450.385 243.667 468.572 232.764 486.739C235.363 487.011 237.983 487.158 240.646 487.158L240.667 487.179Z"
            stroke="#DD3032"
            stroke-width="4"
            stroke-miterlimit="10"></path>
          <path
            d="M196.24 498.881L196.138 500.014L196.134 500.056L196.132 500.098L196.09 500.999L196.087 501.046V532.296L196.095 532.384L196.199 533.561H194.63L194.734 532.384L194.742 532.296V501.145L194.782 500.285L194.788 500.149L194.776 500.014L194.674 498.881H196.24Z"
            fill="#DD3032"
            stroke="#DD3032"
            stroke-width="4"></path>
          <path
            d="M219.764 498.922C219.574 499.532 219.416 500.101 219.273 500.704L216.907 500.331V500.034H214.865L214.709 502.034H212.907V502.182H212.908C212.826 506.785 214.599 511.219 215.895 514.912L215.899 514.923L215.903 514.935C217.399 519.047 218.846 523.081 218.846 527.43C218.846 529.215 218.581 531.593 217.66 533.539H209.974C210.124 532.946 210.247 532.387 210.355 531.795L215.063 532.229L216.654 532.376L217.148 530.856C217.445 529.943 217.542 528.963 217.542 528.079C217.542 524.513 216.613 521.205 215.534 518.141C214.412 514.951 213.232 512.269 212.393 509.341L212.39 509.33L212.387 509.32L212.182 508.598C211.728 506.914 211.456 505.239 211.456 503.585C211.456 502.162 211.847 500.614 212.72 498.922H219.764Z"
            fill="#DD3032"
            stroke="#DD3032"
            stroke-width="4"></path>
          <path
            d="M244.421 498.881L244.333 500.153L240.188 500.182L238.201 500.196V532.326L238.207 532.402L238.296 533.561H236.702L236.806 532.384L236.814 532.296V500.14H230.659L230.572 498.881H244.421Z"
            fill="#DD3032"
            stroke="#DD3032"
            stroke-width="4"></path>
          <path
            d="M257.469 498.881L257.412 500.098L257.37 500.999L257.368 501.046V532.303L257.377 532.396L257.486 533.561H255.945L256.054 532.396L256.064 532.303V501.125L256.104 500.285L256.11 500.143L256.097 500.001L255.99 498.881H257.469Z"
            fill="#DD3032"
            stroke="#DD3032"
            stroke-width="4"></path>
          <path
            d="M281.544 498.922C283.248 500.318 284.484 501.586 285.348 503.186C286.291 504.933 286.888 507.262 286.888 510.897C286.888 516.757 286.328 522.852 285.664 529.151C285.091 529.708 284.526 530.295 283.981 530.922L284.053 530.523C285.135 524.406 285.478 518.626 285.478 512.783C285.478 510.73 285.487 507.699 284.623 505.172C284.178 503.87 283.458 502.562 282.266 501.575C281.05 500.57 279.505 500.032 277.668 500.014H277.669L275.745 499.972L275.703 501.922L273.702 501.951V503.929H273.746C273.78 505.767 273.801 507.817 273.812 509.578C273.82 510.781 273.825 511.844 273.827 512.607C273.828 512.989 273.828 513.295 273.828 513.506C273.828 513.611 273.829 513.693 273.829 513.748V513.826L273.786 530.17L273.781 532.175H282.964C282.628 532.617 282.305 533.079 281.995 533.56H272.377V501.411L275.122 498.922H281.544Z"
            fill="#DD3032"
            stroke="#DD3032"
            stroke-width="4"></path>
          <path
            d="M58.1976 279.618C55.5143 276.969 49.7388 269.599 45.7521 264.253C42.7366 260.206 29.2689 241.493 25.4101 212.712C23.7234 200.068 21.3187 185.977 22.1876 176.873C23.2864 165.241 29.0134 143.133 40.2833 122.228C64.2031 77.8412 123.824 66.4253 130.698 65.197C202.457 52.4324 224.608 65.197 257.205 85.9277C298.064 111.912 304.912 144.999 309.256 167.879C314.19 193.863 324.503 233.34 294.201 276.319C289.499 284.242 284.337 290.167 280.478 294.093"
            stroke="#DD3032"
            stroke-width="4"
            stroke-miterlimit="10"></path>
          <path
            d="M263.504 91.0928C268.194 88.1768 260.242 91.8335 268.383 88.2669C275.188 85.2787 298.568 75.5669 326.127 74.9886C377.746 73.88 415.246 105.329 419.912 109.353C428.856 117.065 464.046 148.441 467.497 200.06C469.466 229.701 460.109 252.86 454.568 264.186C451.7 266.837 447.617 271.705 441.007 272.741C439.962 272.91 437.75 274.115 436.778 274.163"
            stroke="#DD3032"
            stroke-width="4"
            stroke-miterlimit="10"></path>
          <path
            d="M168.004 60.0928C175.829 52.574 193.875 37.8853 232.809 32.8005C244.353 31.2823 282.192 26.077 314.831 49.9587C327.274 59.0679 337.411 68.1945 342.004 75.5928"
            stroke="#DD3032"
            stroke-width="4"
            stroke-miterlimit="10"></path>
        </svg>
      </div>
      <div class="bg-gron-300 grid md:grid-cols-2">
        <div class="py-M px-M">
          <h2 class="h2_mobil md:h2 text-gron-800 pb-XS md:pt-L">
            I gør os til dem vi er
          </h2>
          <div id="tekst3">
            <p class="pb-S p_mobil md:p">
              Vi går højt op i at skabe en nærværende og personlig oplevelse,
              hver gang du besøger os. For os handler det ikke bare om at
              servere is, men om at lære vores gæster at kende - vi vil kunne
              huske vores stamkunder og deres yndlingssmage.
            </p>
            <p class="p_mobil md:p">
              Vi tror på, at det er de små detaljer og den ægte kontakt, der gør
              oplevelsen hos ISTID noget særligt. Når du træder ind hos os, skal
              det føles som mere end et køb - det skal føles som et besøg hos
              nogen, der glæder sig til at se dig igen.
            </p>
          </div>
        </div>
        <div class="">
          <Image
            src={spiseis}
            alt="Anniken og barn spiser is"
            class="w-full md:max-w-full mx-auto md:h-[800px] object-cover"
            loading="lazy"
          />
        </div>
      </div>
    </section>
    <section>
      <div class="bg-gul-400 px-M pt-L pb-XS">
        <div class="flex flex-col items-center justify-center text-center">
          <h2 class="h2_mobil md:h2 text-blaa-600 pb-XS">
            Vores bæredygtige tiltag
          </h2>
          <p class="p_mobil md:p text-blaa-900 max-w-3xl pb-XS md:pb-XL">
            Hos ISTID arbejder vi løbende på at finde de mest bæredygtige
            løsninger – uden at gå på kompromis med kvalitet eller oplevelse.
            Det er ikke altid let, men vi tager ansvar og udvikler os hele tiden
            med omtanke for både miljø og mennesker.
          </p>
        </div>

        <div class="grid md:grid-cols-3 pt-L md:gap-0 justify-center">
          <div class="relative flex flex-col items-center my-L">
            <div
              class="absolute bg-blaa-100 rounded-[600px] bottom-[160px] md:bottom-[220px] flex flex-col items-center justify-center text-center px-[50px] py-[100px] md:px-[70px] md:py-[100px]"
              id="boble1"
            >
              <h2 class="h2_mobil text-rod-500 text-center pb-XS">
                engangsservice
              </h2>
              <p class="p_mobil md:p text-blaa-900 text-center max-w-XL">
                Skeer og bægre er lavet af træ og komposterbart bambuspapir
              </p>
            </div>

            <Image
              src={engangsservice}
              alt="billede af engangsservice fra butikken"
              class="justify-center"
              loading="lazy"
            />
          </div>
          <div class="relative flex flex-col items-center my-L">
            <div
              class="absolute bg-blaa-100 rounded-[600px] bottom-[160px] md:bottom-[220px] flex flex-col items-center justify-center text-center px-[50px] py-[92px] md:px-[45px] md:py-[100px]"
              id="boble2"
            >
              <h2 class="h2_mobil text-rod-500 text-center pb-XS">
                økologiske råvarer
              </h2>
              <p class="p_mobil md:p text-blaa-900 text-center max-w-XL">
                Vi bruger udelukkende økologiske råvarer i vores is
              </p>
            </div>

            <Image
              src={økovarer}
              alt="billede af øko råvarer"
              class="justify-center"
              loading="lazy"
            />
          </div>

          <div class="relative flex flex-col items-center my-L">
            <div
              class="absolute bg-blaa-100 rounded-[600px] bottom-[160px] md:bottom-[220px] flex flex-col items-center justify-center text-center py-[85px] px-[50px] md:py-[85px] md:px-[40px]"
              id="boble3"
            >
              <h2 class="h2_mobil text-rod-500 pb-XS">følger med sæsonen</h2>
              <p class="p_mobil md:p text-blaa-900 max-w-XL">
                Vores smagsvarianter følger sæsonen og skifter efter årstidens
                råvarer
              </p>
            </div>

            <Image
              src={følgersæson}
              alt="billede af forskellige isvarianter"
              class="justify-center"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block md:hidden">
        {/* Denne vises kun på mobil – fx alle elementer synlige */}
        <MobileComponent />
      </div>

      <div class="hidden md:block">
        {/* Denne vises kun på desktop – fx med hover */}
        <DesktopComponent />
      </div>
    </section>
  </section>

  <style>
    .custom-delay-05s {
      animation-delay: 0.5s !important;
    }
    .custom-delay-085s {
      animation-delay: 0.85s !important;
    }
  </style>

  <script>
    import { inView } from "motion";

    // <-- inview tekst1 -->
    const tekst1zoomIn = document.querySelector("#tekst1");

    inView(tekst1zoomIn, () => {
      tekst1zoomIn.classList.add(
        "animate__animated",
        "animate__zoomIn",
        "custom-delay-05s"
      );
    });

    // <-- inview tekst2 -->
    const tekst2zoomIn = document.querySelector("#tekst2");

    inView(tekst2zoomIn, () => {
      tekst2zoomIn.classList.add("animate__animated", "animate__zoomIn");
    });

    // <-- inview tekst3 -->
    const tekst3zoomIn = document.querySelector("#tekst3");

    inView(tekst3zoomIn, () => {
      tekst3zoomIn.classList.add("animate__animated", "animate__zoomIn");
    });

    // <-- inview boble1 -->
    const boble1zoomIn = document.querySelector("#boble1");

    inView(boble1zoomIn, () => {
      boble1zoomIn.classList.add("animate__animated", "animate__zoomIn");
    });

    // <-- inview boble2 -->
    const boble2zoomIn = document.querySelector("#boble2");

    inView(boble2zoomIn, () => {
      boble2zoomIn.classList.add(
        "animate__animated",
        "animate__zoomIn",
        "custom-delay-05s"
      );
    });

    // <-- inview boble3 -->
    const boble3zoomIn = document.querySelector("#boble3");

    inView(boble3zoomIn, () => {
      boble3zoomIn.classList.add(
        "animate__animated",
        "animate__zoomIn",
        "custom-delay-085s"
      );
    });
  </script>
</MainLayout>
