---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
---

<MainLayout title="TAK - VI KONTAKTER DIG" page="tak">
  <article class="bg-rod-50">
    <section class="p-L pb-XL text-center px-[600px]">
      <svg
        class="mb-M"
        width="346"
        height="265"
        viewBox="0 0 346 265"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M101.547 122.021C103.663 155.969 105.78 189.909 107.896 223.857"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M205.599 230.291C204.488 194.201 203.378 158.111 202.273 122.021"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M202.273 122.021C205.586 118.676 208.898 115.332 212.211 111.987H126.581C118.241 115.332 118.753 115.427 110.413 118.772"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M212.204 111.987C213.249 143.976 214.294 175.971 215.339 207.96C212.092 215.406 208.846 222.845 205.592 230.29C197.903 229.884 196.917 229.674 189.234 229.267"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M104.091 162.823C93.4106 162.569 82.7307 162.308 72.0508 162.054C72.1165 163.529 72.1757 164.998 72.2414 166.473C83.3879 173.696 94.5279 180.925 105.674 188.148"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M72.0508 162.054C82.3626 157.336 92.6746 152.611 102.993 147.894"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M107.903 223.85C96.618 223.316 85.34 222.776 74.062 222.242C84.7156 213.543 95.3758 204.845 106.029 196.141"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M150.642 263.755C168.254 263.755 182.531 249.943 182.531 232.904C182.531 215.866 168.254 202.054 150.642 202.054C133.03 202.054 118.753 215.866 118.753 232.904C118.753 249.943 133.03 263.755 150.642 263.755Z"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M150.642 237.889C153.488 237.889 155.795 235.657 155.795 232.904C155.795 230.151 153.488 227.919 150.642 227.919C147.796 227.919 145.489 230.151 145.489 232.904C145.489 235.657 147.796 237.889 150.642 237.889Z"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M133.837 207.07C140.376 214.306 146.916 221.548 153.455 228.784"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M128.474 210.618C134.546 216.671 140.613 222.724 146.685 228.784"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M124.176 214.98C131.425 221.58 138.667 228.18 145.917 234.78"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M153.823 202.67C154.48 212.265 155.137 221.853 155.794 231.448"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M147.33 202.347C148.355 210.721 149.38 219.101 150.405 227.475"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M141.178 203.287C142.795 212.786 144.3 221.726 145.917 231.226"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M170.477 209.003C165.535 217.345 160.599 225.687 155.656 234.029"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M165.259 205.259C161.322 212.787 157.385 220.309 153.448 227.837"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M159.593 202.747C155.506 211.528 151.418 220.309 147.336 229.083"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M133.843 258.942C140.383 251.706 146.922 244.464 153.461 237.229"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M128.48 255.387C134.553 249.334 140.619 243.281 146.692 237.222"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M124.182 251.025C131.431 244.425 138.674 237.826 145.923 231.226"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M153.829 263.335C154.487 253.741 155.144 244.152 155.801 234.558"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M147.343 263.666C148.368 255.292 149.393 246.912 150.419 238.538"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M141.191 262.725C142.808 253.225 144.293 244.285 145.916 234.786"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M170.483 257.002C165.541 248.66 160.605 240.318 155.663 231.976"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M165.265 260.753C161.328 253.225 157.392 245.703 153.455 238.175"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M159.6 263.259C155.512 254.478 151.424 245.697 147.343 236.923"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M180.046 222.312C171.351 226.966 163.3 231.569 154.605 236.224"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M177.588 216.487C170.188 220.951 162.794 225.408 155.394 229.872"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M174.092 211.503C165.896 216.965 157.694 222.42 149.498 227.882"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M180.27 242.137C170.438 240.732 160.606 239.333 150.78 237.928"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M181.965 236.071C173.283 235.27 164.608 234.475 155.926 233.674"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M182.314 230.05C172.37 229.573 163.399 229.255 153.455 228.778"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M170.352 256.545C162.965 250.11 155.584 243.682 148.197 237.247"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M175.242 252.406C168.472 247.096 161.696 241.781 154.927 236.472"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M178.975 247.58C170.97 241.863 162.958 236.141 154.953 230.425"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M121.027 221.04C129.722 225.694 137.221 230.126 145.91 234.78"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M119.365 241.125C129.197 239.72 137.984 238.468 147.816 237.062"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M119.102 234.798C127.784 233.997 136.459 233.203 145.141 232.401"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M118.753 228.784C128.697 228.307 138.634 227.83 148.578 227.359"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M122.099 246.308C130.104 240.592 138.115 234.869 146.12 229.153"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M185.146 234.87C185.297 236.027 186.224 236.873 187.263 236.917C188.439 236.968 189.162 235.944 189.195 235.893C189.234 235.06 189.267 233.871 189.195 232.453C188.774 223.863 185.265 217.607 183.523 214.574C181.085 210.326 176.924 203.097 167.888 198.049C165.482 196.707 157.51 192.396 146.685 193.21C135.821 194.024 124.294 199.829 119.371 209.01C117.123 213.194 116.085 218.389 115.94 219.165C115.099 223.501 115.132 227.227 115.342 229.878C115.441 230.896 115.664 231.182 115.875 231.233C115.875 231.233 116.072 231.284 117.143 230.432C117.117 228.836 117.176 226.559 117.544 223.863C118.017 220.411 118.648 215.807 121.481 210.905C124.984 204.846 129.979 201.571 132.134 200.318C138.372 196.681 144.201 196.294 147.343 196.122C150.241 195.963 156.984 195.671 164.45 199.218C170.372 202.035 173.783 205.888 176.063 208.514C177.976 210.721 181.867 215.305 183.943 222.49C185.429 227.621 185.396 232.053 185.159 234.876L185.146 234.87Z"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M340.909 225.116C341.06 226.273 341.987 227.119 343.025 227.163C344.201 227.214 344.924 226.19 344.957 226.139C344.997 225.306 345.03 224.117 344.957 222.7C344.537 214.109 341.027 207.853 339.285 204.82C336.847 200.573 332.687 193.343 323.65 188.295C321.245 186.953 313.272 182.642 302.448 183.456C291.584 184.27 280.056 190.075 275.134 199.256C272.886 203.44 271.9 208.648 271.703 209.411C270.559 213.722 271.532 218.567 272.958 217.746C274.378 216.933 272.932 216.799 273.3 214.103C273.773 210.651 274.404 206.047 277.237 201.145C280.74 195.085 285.735 191.811 287.89 190.558C294.127 186.921 299.957 186.533 303.099 186.362C305.997 186.203 312.74 185.91 320.206 189.458C326.128 192.275 329.539 196.128 331.819 198.754C333.732 200.96 337.623 205.545 339.699 212.73C341.185 217.861 341.152 222.293 340.915 225.116H340.909Z"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M107.903 223.851C110.177 224.029 112.451 224.213 114.725 224.391"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M184.975 229.114C184.029 229.051 183.083 228.993 182.136 228.93"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M305.865 250.987C323.477 250.987 337.754 237.175 337.754 220.137C337.754 203.098 323.477 189.286 305.865 189.286C288.254 189.286 273.977 203.098 273.977 220.137C273.977 237.175 288.254 250.987 305.865 250.987Z"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M305.865 215.158C308.711 215.158 311.018 217.39 311.018 220.143C311.018 222.896 308.429 224.95 305.865 225.128C303.131 225.312 300.535 223.424 299.917 220.645"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M283.691 197.851C289.763 203.904 295.83 209.957 301.902 216.016"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M279.392 202.213C286.642 208.813 289.165 211.057 296.408 217.657"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M309.046 189.909C309.704 199.504 310.361 209.092 311.018 218.687"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M302.553 189.579C303.578 197.953 304.603 206.333 305.629 214.707"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M296.401 190.52C298.018 200.019 296.802 194.22 298.419 203.719"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M325.694 196.242C320.752 204.584 315.816 212.926 310.874 221.269"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M320.475 192.491C316.539 200.019 312.602 207.541 308.665 215.07"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M314.817 189.985C310.729 198.766 309.579 204.749 305.491 213.53"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M289.067 246.175C295.606 238.939 302.145 231.697 308.685 224.461"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M283.704 242.627C289.777 236.574 295.843 230.52 301.916 224.461"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M279.406 238.265C286.655 231.665 292.202 227.513 299.444 220.913"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M309.053 250.568C309.71 240.973 310.367 231.385 311.025 221.79"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M302.56 250.899C303.585 242.525 304.61 234.144 305.635 225.771"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M296.408 249.958C298.025 240.459 299.51 231.519 301.133 222.02"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M325.707 244.234C320.765 235.892 315.829 227.55 310.887 219.208"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M320.489 247.986C316.552 240.457 312.615 232.935 308.678 225.407"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M314.823 250.491C310.735 241.711 306.648 232.93 302.566 224.155"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M335.27 209.544C326.574 214.198 318.523 218.802 309.828 223.456"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M332.812 203.72C325.411 208.183 318.018 212.64 310.617 217.104"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M329.315 198.735C321.12 204.197 313.831 209.246 305.635 214.707"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M335.487 229.375C325.654 227.97 315.822 226.571 305.997 225.166"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M337.189 223.303C328.507 222.502 319.831 221.707 311.149 220.906"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M337.537 217.288C327.593 216.811 318.622 216.493 308.678 216.017"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M325.575 243.784C318.188 237.349 310.808 230.921 303.42 224.486"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M330.465 239.638C323.696 234.329 316.92 229.013 310.15 223.704"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M334.192 234.812C326.187 229.096 318.175 223.373 310.17 217.657"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M276.244 208.272C284.939 212.927 284.111 212.793 292.806 217.448"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M274.588 228.365C284.42 226.96 293.207 225.707 303.039 224.302"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M273.977 216.016C283.921 215.539 291.965 214.802 301.902 214.331"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M277.322 233.547C285.327 227.831 288.008 226.629 296.013 220.913"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M117.432 224.606C118.306 224.651 119.174 224.695 120.048 224.74"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M210.732 218.528C212.763 219.177 216.095 219.934 220.005 219.317C222.68 218.897 224.58 217.994 225.717 217.447C234.977 212.971 239.604 210.733 243.685 207.999C252.735 201.933 260.063 197.018 265.617 187.76C267.615 184.429 268.844 181.447 269.58 179.38C272.498 171.388 275.416 163.389 278.334 155.396"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M229.502 219.545C229.627 219.494 229.818 219.405 230.054 219.304C230.054 219.304 233.511 217.778 236.87 215.927C239.44 214.509 244.796 211.158 252.262 205.226C254.871 203.153 258.302 200.318 262.213 196.757C260.602 202.81 258.322 209.238 255.114 215.838C254.602 216.894 254.076 217.924 253.55 218.935C245.532 219.138 237.514 219.342 229.496 219.545"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M207.794 225.256C214.78 225.733 222.017 226.019 229.496 226.076C231.316 226.089 233.886 226.102 235.674 226.089"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M257.428 218.153C262.153 207.922 265.433 199.459 267.549 193.616C270.014 186.819 271.348 182.355 275.285 171.387C277.598 164.94 279.563 159.701 280.858 156.312"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M257.921 217.74C273.142 217.74 288.863 217.676 304.084 217.676C294.325 202.696 296.559 206.555 286.799 191.575"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M289.349 189.356C299.983 205.545 297.354 202.715 307.982 218.904C307.344 219.342 306.713 219.781 306.076 220.22C290.191 221.097 274.299 221.975 258.414 222.852"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M253.938 224.912C254.267 225.064 255.213 225.446 256.357 225.185C256.751 225.096 257.559 224.912 258.046 224.206C258.585 223.43 258.499 222.356 258.046 221.65C257.224 220.372 255.253 220.416 254.273 220.442C252.808 220.474 251.677 220.957 251.066 221.268C248.417 221.599 245.637 221.879 242.739 222.082C241.03 222.203 239.361 222.292 237.731 222.356"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M254.49 224.925C253.872 225.179 252.959 225.618 252.085 225.669C247.924 225.809 243.758 225.942 239.597 226.082"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M241.273 230.024C239.92 227.131 238.572 224.232 237.218 221.339C236.344 221.752 235.477 222.165 234.603 222.579L238.861 232.008C239.854 231.563 240.846 231.112 241.839 230.667C241.648 230.45 241.464 230.234 241.273 230.024Z"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M289.796 156.668C287.719 157.908 285.616 157.812 284.736 157.774C284.401 157.761 280.516 157.526 277.756 154.773C276.718 153.736 276.698 153.202 275.469 152.325C274.352 151.524 273.254 151.174 271.631 150.665C268.989 149.839 268.154 149.991 267.51 149.127C266.971 148.408 266.787 147.302 267.267 146.52C267.911 145.477 269.481 145.458 270.04 145.452C271.072 145.439 271.841 145.75 272.084 145.846C274.398 146.761 276.796 147.111 279.8 147.543C282.541 147.938 282.278 147.404 285.393 147.702C289.073 148.058 292.616 148.402 293.437 150.386C294.259 152.369 292.077 155.307 289.803 156.668H289.796Z"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M107.225 35.4521C109.407 96.8991 111.511 159.077 113.686 220.524C113.923 221.268 113.719 221.974 113.285 222.196C112.713 222.495 111.839 221.891 111.504 221.249C111.333 220.918 111.307 220.601 111.313 220.403C109.315 158.995 107.311 97.5858 105.313 36.177"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M106.996 87.9343C104.012 89.0025 100.673 90.1597 99.076 90.6811C90.6504 93.4152 90.8739 92.8366 88.2121 94.1401C85.1889 95.6215 83.9336 96.8423 82.4351 96.2701C81.8567 96.0476 81.5084 95.6597 79.6814 92.2771C77.6768 88.5511 77.2233 87.4002 75.8299 86.8216C75.6854 86.7644 74.1278 86.1413 73.0828 86.8216C72.2678 87.3494 72.5833 88.1314 71.8472 89.7464C70.9402 91.7366 70.0004 91.5649 69.2315 93.4724C68.6202 94.9984 69.0737 95.4753 68.4033 96.41C67.5424 97.6181 65.9979 97.936 64.9661 98.1267C58.4858 99.3412 56.1658 99.1886 56.1658 99.1886C52.7877 98.9724 42.3641 98.5909 32.9263 100.384C29.0684 101.115 25.2762 102.228 23.5739 100.384C22.6998 99.4365 22.5816 97.9423 22.4764 96.6579C22.2333 93.6759 23.4031 92.4805 22.4633 90.5349C22.1149 89.8164 21.3394 88.7164 20.5507 88.8054C19.9132 88.8754 19.5321 89.6892 19.4532 89.8672C19.0523 90.7765 19.3349 91.6984 19.4532 92.1308C20.0841 94.388 20.3339 97.8978 19.21 98.5146C18.7763 98.7562 18.073 98.5909 17.8036 98.2475C17.5012 97.8597 17.8824 97.4273 17.8036 96.9186C17.5998 95.6279 14.7474 95.7932 12.1645 93.9366C11.6387 93.5614 10.5084 92.6522 9.68685 91.1961C8.39212 88.8817 9.37132 87.8135 8.31319 86.491C6.78186 84.5771 4.13984 86.065 2.26017 84.1447C0.571102 82.4153 1.01799 79.465 1.16258 78.5558C1.48462 76.4702 2.23384 76.6801 3.36427 73.1003C4.07407 70.8495 4.42903 69.724 4.32387 68.3125C4.23186 67.0535 3.89667 66.3668 4.32387 65.5212C4.94823 64.2686 6.62412 63.8998 7.0776 63.7917C11.9608 62.6091 15.7004 58.7559 20.1432 56.4733C24.803 54.0762 29.1144 51.2404 37.7438 45.5624C51.7558 36.3428 60.7664 29.0689 66.8983 26.8053C67.6804 26.5192 69.468 25.9215 71.5711 24.5417C74.1146 22.8758 74.6996 21.655 76.7961 20.1481C79.0701 18.514 81.2061 17.9227 83.2566 17.3568C90.6833 15.3031 95.343 17.7828 102.513 17.3568C106.128 17.1406 106.404 16.4221 116.677 12.836C142.44 3.83262 143.59 7.34242 154.493 2.72627C156.064 2.05865 160.29 0.189297 164.943 1.39738C167.178 1.97599 168.61 3.03147 169.347 3.52742C179.12 10.1401 195.892 6.48405 201.117 12.4418C202.471 13.9805 203.043 15.7672 203.043 15.7672C203.811 18.1516 203.338 20.2498 203.043 21.4897C201.123 29.5584 200.164 33.5896 198.094 37.589C196.628 40.4185 190.851 51.5646 185.994 50.897C185.219 50.7889 183.576 50.2612 183.109 50.897C182.688 51.4629 183.654 52.3594 183.385 53.4276C183.063 54.712 181.19 55.2779 180.362 55.5577C178.127 56.308 181.203 55.7357 172.245 60.212C168.242 62.2149 165.009 63.6391 159.179 66.2015C151.878 69.4061 150.918 69.6859 149.551 71.2564C148.499 72.4645 147.566 74.0223 145.424 74.8489C144.773 75.1032 142.545 75.8471 140.751 74.8489C140.021 74.4419 140.061 74.1431 138.825 72.7188C137.182 70.8368 135.9 69.3616 134.284 69.3934C134.211 69.3934 132.936 69.4379 132.22 70.3217C131.655 71.0212 131.76 71.8541 132.358 75.3766C132.838 78.1934 132.949 78.7084 132.634 79.3696C131.996 80.7049 130.327 81.1436 129.059 81.4997C120.488 83.8777 124.537 83.7505 114.619 86.0205C113.239 86.3384 111.3 86.7644 108.961 87.2349"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M71.0125 24.9036C71.9523 26.1562 73.7596 29.0174 75.4356 31.6752C78.8531 37.0989 79.3066 39.1272 81.6069 40.4497C83.9861 41.8168 86.4507 41.3463 91.163 40.4497C99.1483 38.9301 100.666 36.3613 108.823 34.9498C111.649 34.4602 111.649 34.7336 114.869 34.1295C117.951 33.5509 120.902 32.7434 126.239 30.855C131.931 28.8394 131.668 28.6614 136.643 26.8747C144.352 24.1024 148.204 22.7227 150.793 22.6591C154.506 22.5764 157.589 23.3903 160.224 21.3747C160.553 21.1204 161.756 20.1794 162.4 18.5643C163.267 16.4025 162.617 14.3297 162.4 13.5349C161.769 11.2268 161.473 7.51355 163.123 1.47949"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M166.639 1.83594C166.159 4.53823 166.363 6.63012 166.639 8.03531C167.23 11.0492 168.348 12.0093 168.453 15.0549C168.532 17.4075 167.901 17.948 168.453 18.9144C169.412 20.6057 172.133 20.326 176.675 20.6693C184.062 21.2289 188.906 21.5913 193.125 24.4144C195.136 25.756 196.023 27.0022 197.719 26.8687C200.118 26.6843 201.886 23.9375 203.042 21.4832"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M183.102 50.897C183.549 49.7589 184.377 47.1329 183.102 44.8947C182.09 43.1208 180.23 42.4277 178.607 41.8491C170.346 38.9115 166.212 37.4428 165.18 37.1694C153.527 34.0347 153.895 34.3208 152.482 33.6596C148.493 31.8029 146.751 30.1053 143.413 30.029C142.617 30.0099 140.711 30.0607 138.332 29.3295C137.116 28.9544 135.23 27.9561 134.606 27.6191"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M132.759 69.3805C131.872 68.3059 130.505 66.6083 128.927 64.4655C125.122 59.2898 124.419 57.3887 119.181 49.2309C115.855 44.0553 113.949 41.4229 111.182 38.5108C109.855 37.112 108.678 36.0247 107.85 35.2871"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M73.0828 86.8219C73.6545 85.938 74.4629 84.5901 75.2122 82.8606C77.2956 78.0473 77.1707 74.3532 77.4402 71.3012C77.6768 68.6179 79.8916 63.1879 84.3279 52.3279C85.6818 49.0088 87.2723 44.8505 89.0205 40.8447"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M20.5508 88.8181C25.4471 84.3736 29.259 80.5968 31.8156 77.9962C38.0593 71.6315 41.7726 67.1998 50.1391 58.9975C51.5981 57.5669 54.3848 54.8074 55.1603 54.0762"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M4.32373 65.5343C5.44759 67.7851 6.4597 69.6926 7.26809 71.1868C7.669 71.9181 8.86513 74.1053 10.7054 76.725C12.2564 78.9377 12.6573 79.1602 12.9991 79.2556C15.3191 79.9359 18.3621 76.0637 19.8737 74.3469C23.2847 70.4683 23.7908 72.0198 42.2917 61.6811C56.9281 53.5043 55.7779 53.002 59.3072 52.3217C62.4422 51.724 67.1216 51.3933 68.9618 48.2269C69.9411 46.5356 69.8228 44.5391 69.7768 43.7951C69.5993 40.8004 68.1074 39.2362 67.161 37.1443C66.2278 35.0906 65.5048 31.8351 66.8981 26.8057"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M78.4851 37.2969C75.5801 39.4651 72.6752 41.6333 69.7703 43.8015"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M101.219 122.587C103.21 122.021 105.576 122.021 107.587 122.021"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M202.274 122.021H110.255"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M108.165 119.396C105.852 120.457 103.539 121.519 101.225 122.587"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M120.462 134.439H120.416L120.403 134.465L120.226 135.081C120.107 135.514 119.713 136.544 119.7 136.601C119.457 137.021 119.522 136.893 119.253 137.332C118.977 137.796 118.714 138.19 118.602 138.286C118.385 138.47 118.149 138.667 117.748 138.667H117.662C117.603 138.655 117.551 138.642 117.459 138.572C117.137 138.025 117.064 137.936 116.532 137.548C116.315 136.645 116.289 135.704 116.282 134.878L116.269 133.6C116.269 133.517 116.315 132.036 116.21 129.588C116.663 129.619 116.92 129.619 117.616 129.429C117.662 130.065 117.715 131.031 117.735 133.454L117.748 135.03C117.748 135.857 117.82 136.525 117.965 137.097C118.878 135.66 119.536 134.077 119.93 132.697C120.015 132.417 120.074 132.093 120.088 131.864C120.101 131.584 120.101 131.247 120.088 130.961C120.088 130.637 120.074 130.268 120.042 129.594C120.495 129.626 120.751 129.626 121.441 129.435C121.487 130.071 121.547 131.037 121.56 133.46L121.573 135.037C121.586 135.863 121.645 136.531 121.79 137.103C122.716 135.641 123.42 133.969 123.755 132.532C123.899 131.915 123.932 131.323 123.946 130.77L123.991 129.492L125.359 129.734C125.345 130.338 125.385 130.56 125.345 131.095C125.142 135.272 122.815 137.962 122.421 138.286C122.145 138.521 121.915 138.667 121.566 138.667C121.494 138.667 121.435 138.655 121.376 138.623C121.126 138.26 121.041 138.133 120.929 138.032C120.883 137.974 120.824 137.93 120.738 137.86C120.653 137.79 120.561 137.707 120.364 137.561C120.245 137.071 120.186 136.83 120.193 136.397C120.18 136.366 120.304 135.374 120.364 134.973L120.449 134.452L120.462 134.439Z"
          fill="#B81E21"></path>
        <path
          d="M131.576 134.439H131.53L131.517 134.465L131.339 135.081C131.221 135.514 130.827 136.544 130.814 136.601C130.57 137.021 130.636 136.893 130.367 137.332C130.091 137.796 129.828 138.19 129.716 138.286C129.499 138.47 129.263 138.667 128.862 138.667H128.776C128.717 138.655 128.664 138.642 128.572 138.572C128.25 138.025 128.178 137.936 127.646 137.548C127.429 136.645 127.403 135.704 127.396 134.878L127.383 133.6C127.383 133.517 127.429 132.036 127.324 129.588C127.777 129.619 128.033 129.619 128.73 129.429C128.776 130.065 128.829 131.031 128.848 133.454L128.862 135.03C128.862 135.857 128.934 136.525 129.078 137.097C129.992 135.66 130.649 134.077 131.044 132.697C131.129 132.417 131.188 132.093 131.201 131.864C131.214 131.584 131.214 131.247 131.201 130.961C131.201 130.637 131.188 130.268 131.155 129.594C131.609 129.626 131.865 129.626 132.555 129.435C132.601 130.071 132.66 131.037 132.673 133.46L132.687 135.037C132.7 135.863 132.759 136.531 132.904 137.103C133.83 135.641 134.533 133.969 134.869 132.532C135.013 131.915 135.046 131.323 135.059 130.77L135.105 129.492L136.472 129.734C136.459 130.338 136.499 130.56 136.459 131.095C136.255 135.272 133.929 137.962 133.534 138.286C133.258 138.521 133.028 138.667 132.68 138.667C132.608 138.667 132.549 138.655 132.49 138.623C132.24 138.26 132.154 138.133 132.043 138.032C131.997 137.974 131.937 137.93 131.852 137.86C131.767 137.79 131.675 137.707 131.477 137.561C131.359 137.071 131.3 136.83 131.306 136.397C131.293 136.366 131.418 135.374 131.477 134.973L131.563 134.452L131.576 134.439Z"
          fill="#B81E21"></path>
        <path
          d="M142.696 134.439H142.65L142.637 134.465L142.459 135.081C142.341 135.514 141.947 136.544 141.934 136.601C141.691 137.021 141.756 136.893 141.487 137.332C141.211 137.796 140.948 138.19 140.836 138.286C140.619 138.47 140.383 138.667 139.982 138.667H139.896C139.837 138.655 139.785 138.642 139.693 138.572C139.371 138.025 139.298 137.936 138.766 137.548C138.549 136.645 138.523 135.704 138.516 134.878L138.503 133.6C138.503 133.517 138.549 132.036 138.444 129.588C138.897 129.619 139.154 129.619 139.85 129.429C139.896 130.065 139.949 131.031 139.969 133.454L139.982 135.03C139.982 135.857 140.054 136.525 140.199 137.097C141.112 135.66 141.769 134.077 142.164 132.697C142.249 132.417 142.308 132.093 142.321 131.864C142.335 131.584 142.335 131.247 142.321 130.961C142.321 130.637 142.308 130.268 142.276 129.594C142.729 129.626 142.985 129.626 143.675 129.435C143.721 130.071 143.781 131.037 143.794 133.46L143.807 135.037C143.82 135.863 143.879 136.531 144.024 137.103C144.95 135.641 145.654 133.969 145.989 132.532C146.133 131.915 146.166 131.323 146.179 130.77L146.225 129.492L147.592 129.734C147.579 130.338 147.619 130.56 147.579 131.095C147.376 135.272 145.049 137.962 144.655 138.286C144.379 138.521 144.149 138.667 143.8 138.667C143.728 138.667 143.669 138.655 143.61 138.623C143.36 138.26 143.274 138.133 143.163 138.032C143.117 137.974 143.058 137.93 142.972 137.86C142.887 137.79 142.795 137.707 142.598 137.561C142.479 137.071 142.42 136.83 142.427 136.397C142.414 136.366 142.538 135.374 142.598 134.973L142.683 134.452L142.696 134.439Z"
          fill="#B81E21"></path>
        <path
          d="M149.459 138.547V136.888H150.984V138.547H149.459Z"
          fill="#B81E21"></path>
        <path
          d="M154.973 130.357L154.96 130.567V137.771L155.045 138.547H153.416L153.501 137.771V130.567L153.514 130.357L153.429 129.588H155.059L154.973 130.357Z"
          fill="#B81E21"></path>
        <path
          d="M158.982 130.784V130.816C158.956 131.776 159.403 132.717 159.777 133.613C160.185 134.554 160.619 135.565 160.619 136.665C160.619 137.174 160.52 137.956 160.067 138.547H156.912C157.116 137.956 157.201 137.689 157.273 137.18L159.087 137.32C159.146 137.167 159.173 136.996 159.173 136.824C159.173 135.33 158.246 133.995 157.779 132.615C157.609 132.138 157.503 131.655 157.503 131.152C157.503 130.65 157.694 130.142 158.082 129.607H161.105C160.842 130.224 160.744 130.491 160.638 131.013L158.995 130.79L158.982 130.784Z"
          fill="#B81E21"></path>
        <path
          d="M166.981 130.809L165.324 130.821V137.784L165.397 138.547H163.767L163.852 137.771V130.809H162.196L162.097 129.588H167.073L166.974 130.809H166.981Z"
          fill="#B81E21"></path>
        <path
          d="M170.004 130.357L169.991 130.567V137.771L170.076 138.547H168.446L168.532 137.771V130.567L168.545 130.357L168.459 129.588H170.089L170.004 130.357Z"
          fill="#B81E21"></path>
        <path
          d="M175.912 138.547H172.409V130.434L173.5 129.601H175.669C176.799 130.357 177.49 131.05 177.49 132.837C177.49 134.274 177.325 135.762 177.128 137.281C176.675 137.644 176.241 138.044 175.906 138.547H175.912ZM173.875 130.764C173.908 131.794 173.908 133.517 173.908 133.517L173.895 137.301H175.623C175.912 135.921 176.004 134.611 176.004 133.276C176.004 132.29 175.991 130.79 174.394 130.783L173.868 130.771L173.875 130.764Z"
          fill="#B81E21"></path>
        <path
          d="M179.323 138.547V136.888H180.848V138.547H179.323Z"
          fill="#B81E21"></path>
        <path
          d="M186.901 138.547H183.398V130.434L184.489 129.601H186.658C187.788 130.357 188.479 131.05 188.479 132.837C188.479 134.274 188.314 135.762 188.117 137.281C187.664 137.644 187.23 138.044 186.895 138.547H186.901ZM184.864 130.764C184.897 131.794 184.897 133.517 184.897 133.517L184.884 137.301H186.612C186.901 135.921 186.993 134.611 186.993 133.276C186.993 132.29 186.98 130.79 185.383 130.783L184.857 130.771L184.864 130.764Z"
          fill="#B81E21"></path>
        <path
          d="M194.505 138.686L192.764 134.636L192.021 135.157V138.546H190.542V129.587L191.968 129.6C192.028 130.84 192.028 133.549 192.028 133.549V133.593L193.625 132.493C193.743 132.328 193.927 132.042 193.934 131.889C193.966 131.215 193.874 130.579 193.395 129.721L194.939 129.568C195.386 130.344 195.445 130.834 195.445 131.597C195.445 132.105 195.143 132.627 194.729 133.269L193.986 133.778L195.991 138.457L194.505 138.686Z"
          fill="#B81E21"></path>
        <path
          d="M288.179 187.354C284.21 181.116 280.24 174.885 276.271 168.647"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
        <path
          d="M285.137 189.178C281.167 182.941 278.623 179.386 274.654 173.155"
          stroke="#B81E21"
          stroke-width="2"
          stroke-miterlimit="10"></path>
      </svg>

      <h2 class="h2_mobil mb:h2_desk text-rod-600">Tak - vi kontakter dig!</h2>
      <p class="pstor_mobil mb:pstor_desk text-rod-800">
        Vi har modtaget dine oplysninger og vender snart tilbage med et
        uforpligtende tilbud. Vi glæder os til at hjælpe dig – og står klar til
        at besvare eventuelle spørgsmål undervejs.
      </p>
    </section>
  </article>
</MainLayout>
