---

---

<div>
  <button
    class="bg-gul-800 py-XS px-S rounded-medium text-gul-100 pstor_mobil md:pstor_desk hover:bg-transparent border-2 border-gul-800 hover:text-gul-800"
    ><slot /></button
  >
</div>
