---

---

<div>
  <button
    class="py-XXXS px-XS rounded-small text-gul-800 text-p_knap_mobil md:text-p_knap uppercase hover:bg-gul-800 border-2 border-gul-800 hover:text-gul-50"
    ><slot /></button
  >
</div>
