---

---

<div>
  <button
    class="bg-rod-500 py-XXS px-S rounded-small text-gul-50 pstor_mobil md:pstor_desk hover:bg-blaa-50 border-2 border-rod-500 hover:text-rod-500"
    ><slot /></button
  >
</div>
