---

---

<div>
  <button
    class="bg-gul-800 py-XxXS px-XS rounded-small text-gul-100 text-p_knap_mobil md:text-p_knap uppercase hover:bg-transparent border-2 border-gul-800 hover:text-gul-800"
    ><slot /></button
  >
</div>
