---

---

<div>
  <button
    class="bg-rod-500 py-XXXS px-XS rounded-small text-gul-50 text-p_knap_mobil md:text-p_knap uppercase hover:bg-blaa-50 border-2 border-rod-500 hover:text-rod-500"
    ><slot /></button
  >
</div>
