---
import { Image } from "astro:assets";
import økologi from "/public/økologi.svg";
import fødevarekontrol from "/public/fødevarekontrol.svg";
---

<section class="bg-gul-400 p-M md:px-L md:py-L">
  <div class="grid grid-cols-2 md:grid-cols-3">
    <div class="gap-10">
      <h2 class="h4_mobil md:h4 text-gron-800 font-bold pb-XS">Adresse</h2>
      <p class="pstor_mobil md:text-pstor_desk">Nørrebro</p>
      <p class="pstor_mobil md:text-pstor_desk">Jægersborgsgade 13</p>
      <p class="pstor_mobil md:text-pstor_desk">2200 Nørrebro</p>
      <p class="pstor_mobil md:text-pstor_desk">København</p>
    </div>
    <div class="gap-10">
      <h2 class="h4_mobil md:h4 text-gron-800 font-bold pb-XS">Kontakt</h2>
      <p class="pstor_mobil md:text-pstor_desk">Telefon:</p>
      <p class="pstor_mobil md:text-pstor_desk pb-XS md:pb-S">+45 61311834</p>
      <p class="pstor_mobil md:text-pstor_desk">Email:</p>
      <p class="pstor_mobil md:text-pstor_desk">Info@istid.dk</p>
      <div class="flex flex-row gap-XS pt-S w-1/2">
        <div>
          <a
            href="https://www.instagram.com/istidkbh?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
            aria-label="Besøg vores Instagram-side"
            ><svg
              class="md:w-[45px] md:h-[45px]"
              width="30"
              height="30"
              viewBox="0 0 45 45"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_680_250)">
                <path
                  d="M22.5 4.05176C28.5117 4.05176 29.2236 4.07812 31.5879 4.18359C33.7852 4.28027 34.9717 4.64941 35.7627 4.95703C36.8086 5.36133 37.5645 5.85352 38.3467 6.63574C39.1377 7.42676 39.6211 8.17383 40.0254 9.21973C40.333 10.0107 40.7022 11.2061 40.7988 13.3945C40.9043 15.7676 40.9307 16.4795 40.9307 22.4824C40.9307 28.4941 40.9043 29.2061 40.7988 31.5703C40.7022 33.7676 40.333 34.9541 40.0254 35.7451C39.6211 36.791 39.1289 37.5469 38.3467 38.3291C37.5557 39.1201 36.8086 39.6035 35.7627 40.0078C34.9717 40.3154 33.7764 40.6846 31.5879 40.7813C29.2148 40.8867 28.5029 40.9131 22.5 40.9131C16.4883 40.9131 15.7764 40.8867 13.4121 40.7813C11.2148 40.6846 10.0283 40.3154 9.23731 40.0078C8.19141 39.6035 7.43555 39.1113 6.65332 38.3291C5.8623 37.5381 5.37891 36.791 4.97461 35.7451C4.66699 34.9541 4.29785 33.7588 4.20117 31.5703C4.0957 29.1973 4.06934 28.4854 4.06934 22.4824C4.06934 16.4707 4.0957 15.7588 4.20117 13.3945C4.29785 11.1973 4.66699 10.0107 4.97461 9.21973C5.37891 8.17383 5.87109 7.41797 6.65332 6.63574C7.44434 5.84473 8.19141 5.36133 9.23731 4.95703C10.0283 4.64941 11.2236 4.28027 13.4121 4.18359C15.7764 4.07812 16.4883 4.05176 22.5 4.05176ZM22.5 0C16.3916 0 15.627 0.0263672 13.2275 0.131836C10.8369 0.237305 9.19336 0.624023 7.76953 1.17773C6.28418 1.75781 5.02734 2.52246 3.7793 3.7793C2.52246 5.02734 1.75781 6.28418 1.17773 7.76074C0.624023 9.19336 0.237305 10.8281 0.131836 13.2188C0.0263672 15.627 0 16.3916 0 22.5C0 28.6084 0.0263672 29.373 0.131836 31.7725C0.237305 34.1631 0.624023 35.8066 1.17773 37.2305C1.75781 38.7158 2.52246 39.9727 3.7793 41.2207C5.02734 42.4688 6.28418 43.2422 7.76074 43.8135C9.19336 44.3672 10.8281 44.7539 13.2188 44.8594C15.6182 44.9648 16.3828 44.9912 22.4912 44.9912C28.5996 44.9912 29.3643 44.9648 31.7637 44.8594C34.1543 44.7539 35.7979 44.3672 37.2217 43.8135C38.6982 43.2422 39.9551 42.4688 41.2031 41.2207C42.4512 39.9727 43.2246 38.7158 43.7959 37.2393C44.3496 35.8066 44.7363 34.1719 44.8418 31.7813C44.9473 29.3818 44.9736 28.6172 44.9736 22.5088C44.9736 16.4004 44.9473 15.6357 44.8418 13.2363C44.7363 10.8457 44.3496 9.20215 43.7959 7.77832C43.2422 6.28418 42.4775 5.02734 41.2207 3.7793C39.9727 2.53125 38.7158 1.75781 37.2393 1.18652C35.8066 0.632812 34.1719 0.246094 31.7813 0.140625C29.373 0.0263672 28.6084 0 22.5 0Z"
                  fill="#556435"></path>
                <path
                  d="M22.5 10.9424C16.1191 10.9424 10.9424 16.1191 10.9424 22.5C10.9424 28.8809 16.1191 34.0576 22.5 34.0576C28.8809 34.0576 34.0576 28.8809 34.0576 22.5C34.0576 16.1191 28.8809 10.9424 22.5 10.9424ZM22.5 29.9971C18.3604 29.9971 15.0029 26.6396 15.0029 22.5C15.0029 18.3604 18.3604 15.0029 22.5 15.0029C26.6396 15.0029 29.9971 18.3604 29.9971 22.5C29.9971 26.6396 26.6396 29.9971 22.5 29.9971Z"
                  fill="#556435"></path>
                <path
                  d="M37.2129 10.4854C37.2129 11.9795 36 13.1836 34.5146 13.1836C33.0205 13.1836 31.8164 11.9707 31.8164 10.4854C31.8164 8.99121 33.0293 7.78711 34.5146 7.78711C36 7.78711 37.2129 9 37.2129 10.4854Z"
                  fill="#556435"></path>
              </g>
              <defs>
                <clipPath id="clip0_680_250">
                  <rect width="45" height="45" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </a>
        </div>
        <div>
          <a
            href="https://www.facebook.com/istidkbh"
            aria-label="Besøg vores Facebook-side"
            ><svg
              class="md:w-[45px] md:h-[45px]"
              width="30"
              height="30"
              viewBox="0 0 45 45"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M45 22.5564C45 10.1053 34.92 0 22.5 0C10.08 0 0 10.1053 0 22.5564C0 33.4737 7.74 42.5639 18 44.6617V29.3233H13.5V22.5564H18V16.9173C18 12.5639 21.5325 9.02256 25.875 9.02256H31.5V15.7895H27C25.7625 15.7895 24.75 16.8045 24.75 18.0451V22.5564H31.5V29.3233H24.75V45C36.1125 43.8722 45 34.2632 45 22.5564Z"
                fill="#556435"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="gap-10">
      <h2 class="h4_mobil md:h4 text-gron-800 font-bold pb-XS">Åbningstider</h2>
      <p class="pstor_mobil md:text-pstor_desk pb-XS md:pb-S">
        Marts - April: 12-18
      </p>
      <p class="pstor_mobil md:text-pstor_desk pb-XS md:pb-S">
        Maj - August: 12-21
      </p>
      <p class="pstor_mobil md:text-pstor_desk pb-XS md:pb-S">
        September: 12-19
      </p>
      <p class="pstor_mobil md:text-pstor_desk pb-S">
        Lukket fra <br />D. 25. September
      </p>
    </div>
  </div>
  <div class="flex flex-row gap-S py-XS md:py-M">
    <Image src={økologi} alt="økologimærket" class="" loading="lazy" />
    <Image
      src={fødevarekontrol}
      alt="fødevarekontrol mærket"
      class=""
      loading="lazy"
    />
  </div>
</section>
