---
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import logo from "../assets/images/logo.png";

// modtag page som prop
const { page } = Astro.props;

// Vælg baggrundsfarve baseret på siden
const backgroundColor =
  {
    index: "bg-blaa-50",
    event: "bg-gron-200",
    is: "bg-rod-50",
    omos: "bg-gul-400",
    kontakt: "bg-blaa-100",
  }[page] || "bg-slate-200"; // Standardfarve hvis page ikke matcher
---

<div
  x-data="{ showmenu: false }"
  class={`p-4 lg:static w-full ${backgroundColor}`}
>
  <div id="navbar" class="flex flex-row justify-between">
    <div id="logo">
      <a href="/"> <Image src={logo} alt="Logo " class="h-[100px] w-auto" /></a>
    </div>
    <nav id="desktopmenu" class="hidden lg:block">
      <ul class="flex flex-row gap-M items-center p-S">
        <li><Link href="/event">EVENTS OG CATERING</Link></li>
        <li><Link href="/is">VORES IS</Link></li>
        <li><Link href="/omos">OM OS</Link></li>
        <li><Link href="/kontakt">KONTAKT</Link></li>
      </ul>
    </nav>
    <button
      id="burgermenu"
      class="lg:hidden pr-S"
      x-on:click="showmenu = !showmenu"
    >
      Menu
    </button>
  </div>
  <nav
    id="mobilmenu"
    class="flex flex-col content-center"
    x-show="showmenu"
    x-transition
    x-on:click="showmenu = false"
    x-on:click.outside="showmenu = false"
  >
    <ul class="font-worksans text-center p-4">
      <li><Link href="/event">EVENTS OG CATERING</Link></li>
      <li><Link href="/is">VORES IS</Link></li>
      <li><Link href="/omos">OM OS</Link></li>
      <li><Link href="/kontakt">KONTAKT</Link></li>
    </ul>
  </nav>
</div>
