---
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import logo from "../assets/images/logo.png";

// modtag page som prop
const { page } = Astro.props;

// Vælg baggrundsfarve baseret på siden
const backgroundColor =
  {
    index: "bg-blaa-50",
    event: "bg-gron-200",
    is: "bg-rod-50",
    omos: "bg-gul-400",
    kontakt: "bg-blaa-100",
    tak: "bg-rod-50",
    NB: "bg-gul-100",
  }[page] || "bg-slate-200"; // Standardfarve hvis page ikke matcher
---

<div
  x-data="{ showmenu: false }"
  class={`p-4 lg:static w-full ${backgroundColor}`}
>
  <div id="navbar" class="flex flex-row justify-between">
    <div id="logo">
      <a href="/"> <Image src={logo} alt="Logo " class="h-[100px] w-auto" /></a>
    </div>
    <nav id="desktopmenu" class="hidden lg:block">
      <ul class="flex flex-row gap-M items-center p-S">
        <li>
          <a href="/event" class={page === "event" ? "font-bold" : ""}
            >EVENTS OG CATERING</a
          >
        </li>
        <li>
          <a href="/is" class={page === "is" ? "font-bold" : ""}>VORES IS</a>
        </li>
        <li>
          <a href="/omos" class={page === "omos" ? "font-bold" : ""}>OM OS</a>
        </li>
        <li>
          <a href="/kontakt" class={page === "kontakt" ? "font-bold" : ""}
            >KONTAKT</a
          >
        </li>
      </ul>
    </nav>
    <!-- Brug et burger-ikon (SVG) -->
    <button
      id="burgermenu"
      class="lg:hidden pr-S"
      x-on:click="showmenu = !showmenu"
      aria-label="Åbn/luk menu"
    >
      <!-- Burger-ikon (viser når menuen er lukket) -->
      <svg
        x-show="!showmenu"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4 18C3.71667 18 3.47934 17.904 3.288 17.712C3.09667 17.52 3.00067 17.2827 3 17C2.99934 16.7173 3.09534 16.48 3.288 16.288C3.48067 16.096 3.718 16 4 16H20C20.2833 16 20.521 16.096 20.713 16.288C20.905 16.48 21.0007 16.7173 21 17C20.9993 17.2827 20.9033 17.5203 20.712 17.713C20.5207 17.9057 20.2833 18.0013 20 18H4ZM4 13C3.71667 13 3.47934 12.904 3.288 12.712C3.09667 12.52 3.00067 12.2827 3 12C2.99934 11.7173 3.09534 11.48 3.288 11.288C3.48067 11.096 3.718 11 4 11H20C20.2833 11 20.521 11.096 20.713 11.288C20.905 11.48 21.0007 11.7173 21 12C20.9993 12.2827 20.9033 12.5203 20.712 12.713C20.5207 12.9057 20.2833 13.0013 20 13H4ZM4 8C3.71667 8 3.47934 7.904 3.288 7.712C3.09667 7.52 3.00067 7.28267 3 7C2.99934 6.71733 3.09534 6.48 3.288 6.288C3.48067 6.096 3.718 6 4 6H20C20.2833 6 20.521 6.096 20.713 6.288C20.905 6.48 21.0007 6.71733 21 7C20.9993 7.28267 20.9033 7.52033 20.712 7.713C20.5207 7.90567 20.2833 8.00133 20 8H4Z"
          fill="black"></path>
      </svg>

      <!-- Kryds-ikon (viser når menuen er åben) -->
      <svg
        x-show="showmenu"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6 18L18 6M6 6l12 12"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </button>
  </div>

  <!-- Mobile menu, der vises når showmenu er true -->
  <nav
    id="mobilmenu"
    class="flex flex-col items-center w-full max-w-md mx-auto z-50 mt-M"
    x-show="showmenu"
    x-transition
    x-on:click="showmenu = false"
    x-on:click.outside="showmenu = false"
  >
    <ul class="p_knap_mobil text-center w-full space-y-4">
      <li class="p-XS">
        <Link href="/event" class="hover:font-bold">EVENTS OG CATERING</Link>
      </li>
      <li class="pb-XS">
        <Link href="/is" class="hover:font-bold">VORES IS</Link>
      </li>

      <li class="pb-XS">
        <Link href="/omos" class="hover:font-bold">OM OS</Link>
      </li>
      <li class="pb-XS">
        <Link href="/kontakt" class="hover:font-bold">KONTAKT</Link>
      </li>
    </ul>
  </nav>
</div>
